﻿    <script src="@Href("~/Scripts/foundation.min.js")"> </script>
    <script src="@Href("~/Scripts/foundation.min.js")"> </script>
    <script src="@Href("~/Scripts/jquery.nouislider.js")"> </script>

    <script src="@Href("~/Scripts/jquery.ui.widget.js")"> </script>
    <script src="@Href("~/Scripts/jquery.iframe-transport.js")"> </script>
    <script src="@Href("~/Scripts/jquery.fileupload.js")"> </script>
    <script src="@Href("~/Scripts/modernizr.js")"> </script>
    <script src="@Href("~/Content/jquery.autosize.js")"> </script>
    <script src="@Href("~/Scripts/effects.js")"> </script>
    <script src="@Href("~/Scripts/excanvas.js")"> </script>
    <script src="@Href("~/Scripts/jquery.datetimepicker.js")"> </script>
    <script src="@Href("~/Scripts/d3.js")"> </script>
    <script src="@Href("~/Scripts/d3.layout.cloud.js")"> </script>
    <script src="@Href("~/Scripts/lightbox-2.6.min.js")"> </script>
    <script type="text/javascript">   
     $("#sign-in-link").click(function () {
                $.ajax({
                    url: '@Href("~/Account/JsonLogout")',
                    method: 'POST',
                    async:false,
                    success: function (result) {
                        window.location = '@Href("~/")';
                    }
                });
                
                return false;
            });
        </script>

        <div class="row survey-sections footer" id="footer">
            <div class="small-6 columns">
                <a href="http://www.cusjo.com" target="_blank">
                    <img src="@Href("~/Content/img/CusJo-Logo.png")" class="footer-logo-img left"/>
                </a>
            </div>
            <div class="small-6 columns">
                @*<span class="footer-link large-font">CusJo</span>*@
                <a href="http://www.cusjo.com" target="_blank" class="right">
                    <span style="display: block" class="footer-link small-font greycolor">www.CusJo.com</span> </a>
                <span style="display: block; left; padding-top: 10px;" class="little-font 50grey right">&#169; 2014 CusJo - All Rights Reserved

                </span>

            </div>

            <div class="small-12 columns text-center">
            </div>

        </div>
</body>
</html>