﻿<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CusJo| Welcome</title>
    <link rel="stylesheet" href="@Href("~/Content/foundation.css")" />
    <link rel="stylesheet" href="@Href("~/Content/styles.css")" />
    <link rel="stylesheet" href="@Href("~/Content/jquery.nouislider.css")" />
    <link rel="stylesheet" href="@Href("~/Content/jquery.fileupload.css")" />
    <link rel="stylesheet" href="@Href("~/Scripts/jquery.datetimepicker.css")" />
    <link rel="stylesheet" href="@Href("~/Content/lightbox.css")" />
    <script src="@Href("~/Scripts/jquery.js")"> </script>


    <script src="@Href("~/Scripts/Chart.js")"> </script>
    <script type="text/javascript" src="//use.typekit.net/glo0ptu.js"> </script>
    <script type="text/javascript"> try {
     Typekit.load();
 } catch (e) {
 } </script>
</head>

<body class="backend">

    <div class="pc-container clearfix">
        <div class="row">
            <div class="large-12 columns text-center pc-header">
                CusJo   
             
            <img src="@Href("~/Content/img/logout.png")" class="gear-icon-logout right" style="cursor:pointer" id="logoutLink"/>
            </div>
        </div>
        <div id="logoutModal" class="reveal-modal medium rounded-corner" data-reveal>
            <div class="logout-img">
                <img src="@Href("~/Content/img/logout-big.png")" style="margin-bottom:1.5rem" />
                <p style="color: black; margin-bottom: 0">Are you sure you want to log out?</p>
            </div>
            <div class="logout-modal-actions">
                <table class="nostyle" width="100%">
                    <tr>
                        <td width="50%"><a id="sign-in-link">Logout</a></td>
                        <td width="50%"><a id="close-modal">Cancel</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="loader" class="reveal-modal small" data-reveal>
            <div style="text-align: center">
                <img src="@Href("~/Content/img/482.gif")" />
                <br />
                <br />
                Loading
                        
            </div>
        </div>


        <script> $(function () {
     $("#logoutLink").click(function () {
         $("#logoutModal").bind('opened', function () {
             $('body').css('overflow', 'hidden');
         });
         $("#logoutModal").bind('closed', function () {
             $('body').css('overflow', '');
         });
         $('#logoutModal').foundation('reveal', 'open');
     });
     $("#close-modal").click(function () {

         $('#logoutModal').foundation('reveal', 'close');
     });
 });</script>
