/* line 7, ../sass/lightbox.sass */
body:after {
  content: url(img/close.png) url(img/loading.gif) url(img/prev.png) url(img/next.png);
  display: none;
}

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  /*font-weight: normal;*/
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
 
}
/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
    /*height: 70%!important;width: 70%!important;*/

}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;

   -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container {
  padding: 4px;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(img/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  z-index: -10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}
/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(img/prev.png) 2% 48% no-repeat;
}

/* line 90, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(img/next.png) 98% 48% no-repeat;
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background:white
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  /*font-weight: bold;*/
  line-height: 1em;
}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 121, ../sass/lightbox.sass */
/*.lb-data .lb-close {
  display: block;
  float: right;
  width: 18px;
  height: 30px;
  background: url(img/cross-icon.png) top right no-repeat;
 background-size: cover;
}*/
/* line 130, ../sass/lightbox.sass */
/*.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}*/

.lb-close {
  display: block;
  float: right;
  width: 26px;
  height: 26px;
  background: url(img/cross-icon.png) top right no-repeat;
 background-size: cover;

}
img.example-image {max-width:3rem; max-height: 3rem; margin-right:1rem; margin-bottom:1rem; display:inline-block}
/*div.image-set {white-space: nowrap; }*/
div.imageset-container {   width: 100%;
   /*height: 5rem;*/
   overflow-x: scroll;}


#ex3::-webkit-scrollbar{
height:6px;
background-color:/*#cccccc;*/#fff;
} 
#ex3::-webkit-scrollbar-thumb{
background-color:#009BDF;
border-radius:5px;
}

#ex3::-webkit-scrollbar-track { background: #fff; }


div.lightbox-name {float:left; margin:20px 30px 10px; line-height:150%; text-align:left}
div.lightbox-date { float:right; margin:70px 30px 10px 0px;padding-bottom: 10px}
div.lb-closeContainer {height: 50px;
float: right;
margin-top: 10px;
position: absolute;
right: 10px ; }
div.lb-outerContainer {
    
}
div.lb-container {padding-left:20px; padding-right:20px; background-color:white;
	-webkit-border-radius:10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;


}
div.picture-comment { line-height: 100%;
padding-top: 100px;
padding-bottom: 20px;
text-align: left; color:black;
padding: 100px 20px 30px 20px;
font-size: 0.72rem;
    font-size: 18px;
line-height: 150%;
}