/* blue 009BDF*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    letter-spacing: 0.25px;
}

    div.mobile-container .row
    {
        width: 640px;
    }

*
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.pc-container .row
{
    max-width: 980px;
}

/*@media only screen and (max-width: 40em) {*/
/*@media only screen and (orientation:portrait) {
	body { font-size: 75%; }
	html, body { font-size: 3.90625vw; font-size: 12.5px;}
	textarea { font-size: 16px; }
	/* max-width 640px, mobile-only styles, use when QAing mobile issues 
}*/

/*@media only screen { /* Define mobile styles 
	html, body { font-size: 75%; }
	html, body { font-size: 3.90625vw; }
}*/



/*@media only screen and (min-width: 35.5em) {
	html, body { font-size: 156.25%; }
	html, body { font-size: 3.90625vw; }
}*/

/*@media only screen and (min-width: 40.063em) {*/
/*@media only screen and (orientation: landscape) {
	html, body { font-size: 25px; }
	html, body { font-size: 3.90625vw; }
}
@media only screen and (min-width: 40.063em) {
html, body { font-size: 25px; }
	}*/
/* This is 641 PX */
/* This is 568 PX*/
/*html, body { font-size: 3.90625vw; }*/


body, html
{
    color: #333;
    font-size: 25px;
    height: 100%;
}

div.mobile-container{
    
	/*height: 100%;*/
	
}


textarea, input[type="text"], input[type="password"]
{
    font-size: 32px!important;
}
/* This is 641 PX */
/* This is 568 PX*/
/*html, body { font-size: 3.90625vw; }*/

/*html { -webkit-text-size-adjust: 100%;*/ /* Prevent font scaling in landscape 
}*/
.title
{
    font-size: 1.8rem;
    margin: 0px;
    line-height: 222%;
    border-bottom: 1px solid #c6c6c6;
}

    .title a
    {
        color: #333;
    }

.border-bottom
{
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
}

h1, h2, h3, h4, h5, h6
{
    line-height: 90%;
    margin: 0;
    letter-spacing: 125%;
}

.greycolor
{
    color: #777;
}

.50grey
{
    color: #808080;
}

.blue
{
    color: #009BDF;
}

.adminborder
{
    border-top: 10px solid #00CE7D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    height: 1px;
}


h1, .large-font
{
    font-size: /*3rem*/ 2rem;
}

h2, .medium-font
{
    font-size: 1.66667rem;
}

h3, .small-font
{
    font-size: /*2.33rem3.5rem */ 1.333rem;
}

h4, .regular-font
{
    font-size: /*2rem3rem */ 1rem;
}

.little-font
{
    font-size: 0.666rem;
}

.survey-sections
{
    padding-bottom: 2.667rem;
}

#survey-question-page .survey-sections {
    margin-top:-7px
}

.mcq{padding-bottom: 1.417rem!important}

#post-survey-questionnaire .survey-sections, #sign-in .survey-sections
{
    padding-bottom: 1.5rem;
}

.bottompad
{
    padding-bottom: 2.667rem;
}

.rounded-corner
{
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.footer
{
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #c6c6c6;
}
/*.padded-content {padding-left:2.25rem; padding-right:2.25rem; }*/
.footer-logo-img
{
    height: 2.5rem;
}

.footer-fix
{
    position: fixed!important;
    bottom: 0px!important;
    width: 640px!important;
margin: 0 0 0 -320px;
left: 50%
}

a.choose-location
{
    display: block;
    color: #333;
}

    a.choose-location img
    {
        padding-left: 0.5rem;
    }

.f-dropdown:after
{
    border: 0px solid transparent!important;
}

.mobile-container .f-dropdown.open
{
    width: 100%;
    left: 0!important;
    right: 0!important;
}

.f-dropdown:before, .f-dropdown.right:before
{
    display: none;
}

.f-dropdown li a
{
    line-height: 200%;
    font-size: 1rem;
}

body.frontend .tooltip
{
    font-size: 1rem;
    color: #525252;
    background-color: white;
    border: 1px solid #ccc;
    line-height: 180%;
    width: 600px!important;
    left: 50%!important;
    margin-left: -300px!important;
}

    body.frontend .tooltip.tip-top > .nub
    {
        border: 10px solid white;
        border: 0x solid white;
        border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        bottom: -20px;
    }

   body.frontend .tooltip.tip-top > .border-nub
    {
        border: 10px solid #ccc;
        border-color: #ccc rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        bottom: -21px;
    }

    body.frontend .tooltip > .nub.nub-left
    {
        left: 12.5%;
    }

   body.frontend .tooltip > .nub.nub-center
    {
        left: 50%;
    }

    body.frontend .tooltip > .nub.nub-right
    {
        left: 87.5%;
    }

.gear-icon
{
    width: 1.44rem;
    height: 1.44rem;
    position: absolute;
    margin-top: 1.28rem;
    right: 1.75rem;
}
.gear-icon-logout { 
	/*width: 1.44rem;*/
    height: 1.44rem;
    position: absolute;
    margin-top: 1.28rem;
    right: 1.75rem;

}
.back-icon
{
    height: 1.44rem;
    position: absolute;
    margin-top: 1.28rem;
    left: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.logout-img {text-align:center; padding:2rem; }
.logout-modal-actions {  }
#logoutModal { padding:0!important}
	#logoutModal table {margin-bottom:0!important; border-width:0; background-color:transparent }
		#logoutModal table tr td { text-align:Center; font-size: 1.33rem; padding: 1rem 0; border: 1px solid #e2e2e2; border-width: 1px 0px 0px 0px; }
		#logoutModal table tr td:first-child {border-right: 1px solid #e2e2e2}
.display-brand-image
{
    padding: 0;
}

.company-name
{
}

.appreciation h3
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.appreciation-voucher
{
    position: relative;
}

.appreciation-voucher-content
{
    position: absolute;
    top: 11.111%;
    bottom: 11.111%;
    width: 100%;
    max-width: 586px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

    .appreciation-voucher-content .appreciation-voucher-title
    {
    }

    .appreciation-voucher-content a.app-tnc
    {
        cursor: pointer;
        color: #009bdf;
        position: absolute;
        bottom: 0.25rem;
        left: 1rem;
    }

    .appreciation-voucher-content span.expires
    {
        position: absolute;
        bottom: 0.25rem;
        right: 1rem;
    }

img.appreciation-cmp-logo
{
    height: 4.8rem;
    width: 4.8rem;
}

.appreciation-voucher-footer
{
}

div.info-icon-flippy
{
    position: absolute; /*border:1px solid red;*/
}

@media only screen
{ /* Define mobile styles */
    div.info-icon-flippy
    {
        height: 100%;
        width: 100%;
        right: 0rem;
        top: 0rem;
    }
}

@media only screen and (min-width: 28.125em) and (max-width:35.5em)
{ /* Define mobile styles */
    div.info-icon-flippy
    {
        height: 100%;
        width: 100%;
        right: 0rem;
        top: 0rem;
    }
}

@media only screen and (min-width: 35.5em)
{
    div.info-icon-flippy
    {
        height: 100%;
        width: 100%;
        right: 0rem;
        top: 0rem;
    }
}
/* This is 568 PX*/
.click-phone-number, .click-email
{
}

.click-map
{
    display: inline-block;
    height: 4rem;
    width: 15rem;
    position: absolute;
    top: 1.5rem;
    left: 6rem;
}

.click-email
{
    display: inline-block;
    height: 2rem;
    width: 15rem;
    position: absolute;
    top: 11.5rem;
    left: 6rem;
}

.click-phone-number
{
    display: inline-block;
    height: 2rem;
    width: 15rem;
    position: absolute;
    top: 7.5rem;
    left: 6rem;
}

.back span
{
    position: absolute;
    left: 6.72rem;
    text-align: left;
}

span.card-address
{
    top: 2.88rem;
}

span.card-phone
{
    top: 8.2rem;
}

span.card-email
{
    top: 12.52rem;
}

div.exp-questions
{
    padding-top: 2.667rem;
}

div.question-label
{
    margin-bottom: 1.5rem;
    line-height: 100%%;
}
/*div.question-editor {padding-bottom:3.75rem}*/
#noUiSlider-rangeamount
{
    position: relative;
    left: 47.5%;
    color: black;
    padding-bottom: 1.33rem;
    font-size: 1.33rem;
    display: inline-block;
}

div.slider-labels
{
    color: black;
    margin-top: 1rem;
}

div.slider-label-labels
{
    color: #777;
    margin-top: 0.75rem;
}

/*ul.number-scale li{width:10%}*/
ul.number-scale li span
{
    height: 1.7rem;
    width: 1.7rem!important;
    background-color: #F1F2F3;
    text-align: center;
    line-height: 1.7rem;
    display: block;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

ul.number-scale
{
    margin: 0px;
}

    ul.number-scale li span.active
    {
        background: #009BDF;
        color: white;
    }

    ul.number-scale li
    {
        margin: 0px;
        padding: 0px;
    }

select, option
{
    font-size: 32px;
    color: rgba(0, 0, 0, 0.75);
}

select, option, div.question-editor input[type="text"], div.question-editor textarea, div.question-editor input[type="password"]
{
    margin-bottom: 0;
    background: #F1F2F3;
    border: 1px solid #F1F2F3;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1);
    height: 3.5rem;
    font-family: "myriad-pro", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 300!important;
}

	select#countryCode, select#countryCode:hover { background:#F1F2F3 url('img/down-arrow.png') 95% 50% no-repeat; border:1px solid #F1F2F3 }


div.question-editor .text-areadiv
{
    margin-bottom: 0;
    background: #F1F2F3;
    border: 1px solid #F1F2F3;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1);
    font-family: "myriad-pro", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 300!important;
    font-size: 1rem;
    min-height: 2.5rem;
    padding: 0.5rem;
    line-height: 150%;
}


@media only screen and (max-width: 40em)
{

    div.question-editor input[type="text"]
    {
        font-size: 17px;
    }
    /* max-width 640px, mobile-only styles, use when QAing mobile issues */
}

div.question-editor textarea.like-qst
{
    border-color: #00CE7D;
}

div.question-editor textarea.dislike-qst
{
    border-color: #EA6953;
}

.input-error
{
    border: 2px solid #EA6953!important;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.05s, border-color 0.05s ease-in-out;
    transition: box-shadow 0.05s, border-color 0.045s ease-in-out;
}

@keyframes input-error
{
    0%
    {
        transform: translate(3px, 0);
    }

    50%
    {
        transform: translate(-3px, 0);
    }

    100%
    {
        transform: translate(0, 0);
    }
}

@-moz-keyframes input-error
{
    0%
    {
        -moz-transform: translate(3px, 0);
    }

    50%
    {
        -moz-transform: translate(-3px, 0);
    }

    100%
    {
        -moz-transform: translate(0, 0);
    }
}

@-webkit-keyframes input-error
{
    0%
    {
        -webkit-transform: translate(3px, 0);
    }

    50%
    {
        -webkit-transform: translate(-3px, 0);
    }

    100%
    {
        -webkit-transform: translate(0, 0);
    }
}

.input-error
{
    animation-name: input-error;
    animation-duration: 150ms;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    -moz-animation-name: input-error;
    -moz-animation-duration: 150ms;
    -moz-animation-iteration-count: 2;
    -moz-animation-timing-function: linear;
    -webkit-animation-name: input-error;
    -webkit-animation-duration: 150ms;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}

div.question-editor input[type="text"]:focus, div.question-editor input[type="password"]:focus, div.question-editor textarea:focus
{
    border: 1px solid #009BDF!important;
}

div.choose-experience-area
{
}

div.exp-area-label
{
    color: #777777;
    margin-bottom: 1.333rem;
    margin-top: 1.333rem;
}

div.mobile-container .has-tip
{
    font-weight: 300;
}

    div.mobile-container .has-tip:hover, div.mobile-container has-tip:focus
    {
        border-bottom: 1px solid #009BDF;
        color: #009BDF;
    }

span.exp-area-choices
{
    text-align: center;
    border: 1px solid #009BDF;
    display: inline-block;
    line-height: 100%;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    line-height: 2.8rem;
    width: 100%;
    height: 2.8rem;
    color: #009BDF; 
}

    span.exp-area-choices.active, .loadmorebutton:hover
    {
        background: #009BDF;
        color: white;
    }
.loadmorebutton {  

	
text-align: center;
border: 1px solid #009BDF;
display: inline-block;
-webkit-border-radius: 0.3rem;
-moz-border-radius: 0.3rem;
border-radius: 0.3rem;
padding: 0.5rem 3rem;
color: #009BDF;
font-size:0.75rem

}
.exp-area-choice-container ul li
{
}

.exp-camera
{
}

div.camera-icon, div.camera-icon2, div.camera-icon3
{
    display: inline-block; /*border: 1px solid #009BDF; -webkit-border-radius: 0.5rem; -moz-border-radius: 0.5rem; border-radius: 0.5rem; width: 5.5rem;*/
    height: 5.5rem; /*padding-top: 0.25rem;*/
}

    div.camera-icon img, div.camera-icon2 img, div.camera-icon3 img
    {
        height: 5.6rem;
    }



input#fileupload
{
    opacity: 0;
}

.camera-upload-thumbnail
{
    max-width: 5rem;
    max-height: 5rem;
    border: 2px solid #009BDF;
}

input#fileupload2
{
    opacity: 0;
}

.camera-upload-thumbnail
{
    max-width: 5rem;
    max-height: 5rem;
    border: 2px solid #009BDF;
}

input#fileupload3
{
    opacity: 0;
}

.camera-upload-thumbnail
{
    max-width: 100%;
    max-height: 640px;
    border: 2px solid #009BDF;
}

table.experience-value-grid
{
    border-collapse: separate;
    border-spacing: 0;
    border: 0px solid transparent;
}

    table.experience-value-grid tr
    {
        background: #fff;
        border: 0px solid transparent;
    }

        table.experience-value-grid tr td
        {
            border: 2px solid #009BDF;
            text-align: center;
            vertical-align: middle;
            border-style: none solid solid none;
            width: 33%;
            padding: 1rem 0rem;
        }

.pc-container table.experience-value-grid tr td
{
    border: 2px solid #303030;
    border-style: none solid solid none;
}

table.experience-value-grid tr td div
{
    color: #009BDF;
    line-height: 150%;
}

.pc-container table.experience-value-grid tr td div
{
    color: #303030;
}

table.experience-value-grid tr:first-child td:first-child
{
    -webkit-border-top-left-radius: 0.5rem;
    -moz-border-radius-topleft: 0.5rem;
    border-top-left-radius: 0.5rem;
}

table.experience-value-grid tr:first-child td:last-child
{
    -webkit-border-top-right-radius: 0.5rem;
    -moz-border-radius-topright: 0.5rem;
    border-top-right-radius: 0.5rem;
}

table.experience-value-grid tr:last-child td:first-child
{
    -webkit-border-bottom-left-radius: 0.5rem;
    -moz-border-radius-bottomleft: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

table.experience-value-grid tr:last-child td:last-child
{
    -webkit-border-bottom-right-radius: 0.5rem;
    -moz-border-radius-bottomright: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

table.experience-value-grid tr:first-child td
{
    border-top-style: solid;
}

table.experience-value-grid tr td:first-child
{
    border-left-style: solid;
}

table.experience-value-grid tr td:first-child
{
    border-left-style: solid;
}

table.experience-value-grid tr td.active
{
    background: #009BDF;
}

.pc-container table.experience-value-grid tr td.active
{
    background: #303030;
}

table.experience-value-grid tr td.active div
{
    color: white!important;
}







input.submit-button-hack
{
    display: none;
}

.submit-button
{
    display: block!important;
    color: #009BDF;
    border: 1px solid #009BDF;
    padding: 2rem 0;
    -webkit-transition: all 0.5s ease-out; /* Saf3.2+, Chrome */
    -moz-transition: all 0.5s ease-out; /* FF4+ */
    -ms-transition: all 0.5s ease-out; /* IE10 */
    -o-transition: all 0.5s ease-out; /* Opera 10.5+ */
    transition: all 0.5s ease-out;
    margin-left: 0!important;
    margin-right: 0!important;
}

input.submit-button-hack:checked + .submit-button
{
    border: 2px solid #009BDF;
    color: white;
    background: #009BDF;
}



/*TNC PAGE */
div.tnc-content span.number
{
    padding-left: 1.55rem;
    padding-right: 1rem;
    width: 1rem;
}

div.tnc-content p
{
    margin-bottom: 1.5rem;
}

/*SIGN up post sign up*/
#post-survey-questionnaire .title
{
    line-height: 100%!important;
}

/*Thank you*/
.thankyou-title
{
    font-size: 4rem;
    line-height: 90%;
    padding-bottom: 1rem;
}

/*FLIP*/
.flip-container
{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}



    .flip-container:hover .flipper,
    .flip-container.hover .flipper
    {
    }

    .flip-container.flip .flipper
    {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

.flip-container, .front, .back
{ /*width: 320px;
	height: 427px;*/
}

.flipper
{
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    text-align: center;
    position: relative;
}

.front, .back
{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.front
{
    z-index: 2;
}

.back
{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front .name
{ /*font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 25%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;*/
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

@-webkit-keyframes progress-bar-stripes
{
    from
    {
        background-position: 40px 0;
    }

    to
    {
        background-position: 0 0;
    }
}

@-moz-keyframes progress-bar-stripes
{
    from
    {
        background-position: 40px 0;
    }

    to
    {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes
{
    from
    {
        background-position: 0 0;
    }

    to
    {
        background-position: 40px 0;
    }
}

@keyframes progress-bar-stripes
{
    from
    {
        background-position: 40px 0;
    }

    to
    {
        background-position: 0 0;
    }
}

.progress
{
    height: 4px;
    overflow: hidden; /*background-color: #f5f5f5;*/
    border-radius: 4px;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem; /*-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);*/
}

.progress-bar
{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress2
{
    height: 4px;
    overflow: hidden; /*background-color: #f5f5f5;*/
    border-radius: 4px;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem; /*-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);*/
}

.progress-bar2
{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress3
{
    height: 4px;
    overflow: hidden; /*background-color: #f5f5f5;*/
    border-radius: 4px;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem; /*-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);*/
}

.progress-bar3
{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-striped .progress-bar
{
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress.active .progress-bar
{
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success
{
    background-color: #5cb85c;
}

.progress-striped .progress-bar-success
{
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-info
{
    background-color: #5bc0de;
}

.progress-striped .progress-bar-info
{
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-warning
{
    background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning
{
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-danger
{
    background-color: #d9534f;
}

.progress-striped .progress-bar-danger
{
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}


/* ----------------------------------------------------------------------------
	----------------------------------------------------------------------------
	----------------------------------------------------------------------------
	----------------------------------------------------------------------------
	----------------------------------------------------------------------------
	----------------------------------------------------------------------------
*/


table.no-style, table.no-style tr td, table.no-style tr
{
    border: 0px solid transparent;
    background: transparent;
    font-size: inherit;
    padding: 0;
    margin: 0;
}

.pc-container, .pc-container a
{
    font-size: 0.72rem;
    line-height: 150%;overflow-y: hidden;
}

    .pc-container a
    {
        color: #009BDF;
    }

    .pc-container .large-font,
    .pc-container .medium-font,
    .pc-container .small-font,
    .pc-container .regular-font
    {
    }

    .pc-container .para-font
    {
        font-size: 0.72rem;
    }

.pc-2rem-marginbottom
{
    margin-bottom: 2rem;
}

.pc-border-bottom
{
    border-top: 1px solid #e2e2e2; /*poor naming. to be fixed latr*/
}


div.pc-header
{
    font-size: 3rem;
    line-height: 125%;
    border-bottom: 1px solid #e2e2e2;
}

div.pc-section
{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

    div.pc-section .sub-head
    {
        padding-top: 0px;
        margin-top: 0px;
        line-height: 100%;
    }

.pc-company-logo
{
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.filter-container a.active
{
    cursor: default;
    color: #777;
}

.filter-container span.divider
{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.date-range-pick
{
    display: inline-block;
}

    .date-range-pick span
    {
        font-size: 1rem;
       color: #009BDF;
        display: block;
        line-height: 150%;
    }

.chart-labelling
{
    width: 265px;
    height: 265px;
    position: absolute;
    right: 0.9375rem;
    text-align: center;
    padding-top: 100px;
}

    .chart-labelling span
    {
        display: block;
        line-break: 150%;
    }

.green-color
{
    color: #00CE7D;
}

.donut-chart-label
{
    float: right;
    padding-top: 100px;
    text-align: center;
    line-height: 150%;
    font-weight: 500;
}

.div70
{
    -moz-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    -o-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    transform: rotate(-27deg);
}

/*barGraph*/
.color-swatch-1
{
    background-color: #f59972;
}

.color-swatch-2
{
    background-color: #F7AD7A;
}

.color-swatch-3
{
    background-color: #F6C381;
}

.color-swatch-4
{
    background-color: #F4F194;
}

.color-swatch-5
{
    background-color: #BADA9A;
}

.color-swatch-6
{
    background-color: #96CE9C;
}

.color-swatch-7
{
    background-color: #75C49D;
}

.color-swatch-8
{
    background-color: #74C3C5;
}

.color-swatch-9
{
    background-color: #6EBFE5;
}

.color-swatch-10
{
    background-color: #74A2D3;
}


.bar-label-cont
{
    width: 900px; /*margin-left:-4px;*/
}

div.ind-bar-label-cont
{
    display: inline-block;
    width: 140px;
	 /*margin-left:-10px;*/
}

.barlabel-left-ext {
	 display: block;
height: 1px;
background: #E2E2E2;
width: 20px;
margin-left: -20px;
margin-bottom: -1px;}

span.bar-labels
{
   position: relative;
padding-bottom: 20px;
line-height: 300%;
}

span.line-marker
{
    height: 15px;
width: 1px;
border-left: 1px solid #E2E2E2;
position: absolute;
bottom: 4px;
left: 50%;
}

div.bar-graph
{
    border: 1px solid #e2e2e2;
    border-width: 1px 0px 0px 1px;
	padding-bottom:20px; 
}

.ind-bar-item
{
    padding-top: 10px;
}

.ind-bar-label
{
    color: 303030;
    font-size: 0.8rem;
    padding-left: 10px;
}

div.ind-bar
{
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    height: 20px;
    line-height: 20px;
    font-size: 0.6rem;
}

 div.ind-bar-label-cont:first-child {}
	div.ind-bar-label-cont:first-child span.bar-labels { }
		div.ind-bar-label-cont:first-child span.bar-labels span.bar-label-text {display: inline-block;
width: 20px;
text-align: center;
margin-left: -10px; }
	div.ind-bar-label-cont:first-child span.bar-labels span.line-marker {left:0%!important}




a.pc-customer-filter
{
    color: #303030;
    margin-left: 0.5rem;
    background: #F0F0F0;
    padding: .2rem .4rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;
}

.pc-customer-filter-dropdown.f-dropdown:after
{
    left: 10%;
}

ul.pc-customer-filter-dropdown li a
{
    font-size: 0.64rem;
}

.ind-customer-row table tr td {}

.ind-customer-row-date span
{
    display: block;
}

.ind-customer-details-section
{
    padding-top: 2rem;
}

.border-top
{
    border-top: 1px solid #e2e2e2;
}

.ind-customer-row
{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ind-customer-row-expand {cursor: pointer }

.pc-container span.exp-area-choices
{
    text-align: center;
    border: 1px solid #303030;
    display: inline-block;
    line-height: 100%;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    line-height: 2.8rem;
    width: 100%;
    height: 2.8rem;
    color: #303030;
}

    .pc-container span.exp-area-choices.active
    {
        background: #303030;
        color: white;
    }

.pc-image-uploaded
{
    margin-bottom: 1rem;
}

    .pc-image-uploaded img
    {
        max-width: 100%;
    }

.pc-container span.cusxp-score
{
    font-size: 2.4rem;
    display: block;
}

.ind-customer-row-cusxp span.para-font
{
    padding-top: 0.5rem;
    display: block;
}

.score-70plus
{
    color: #00CE7D;
}

.score-30plus
{
    color: #F9AD81;
}

.score-0plus
{
    color: #EA6953;
}

.pc-container .cusxpSingle input, .pc-container .cusxpSingle textarea
{
}

.pc-container .subsection-divider-cont
{
    margin-top: 1rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

.pc-container .minimize-section
{
    height: 2px;
    line-height: 1px;
    float: right;
    width: 36px;margin-right: 3px;
    /*border-bottom: 2px solid #009BDF;*/
    background: url(img/minus.png) no-repeat;
    cursor: pointer;
}
.minimize-section:after {  
	content:'';
    position:absolute;
    top:-10px; bottom:-10px; 
    left:-10px; right:-10px; }



.pc-container .border-line
{
    border-bottom: 1px solid #e2e2e2;
    padding-top: 1rem;
}

.pc-container .minimize-cont
{
}

.linemarker70
{
    height: 265px;
    width: 265px;
    position: absolute;
    top: 0;
    right: 0.9375rem;
}

.linemarker-line
{
	height: 2px;
	width: 80px;
	background-color: #00CE7D;
	-moz-transform: rotate(-18deg);
	-webkit-transform: rotate(-17deg);
	-o-transform: rotate(-18deg);
	-ms-transform: rotate(-18deg);
	transform: rotate(-18deg);
	margin-top: 168px;
	margin-left: -20px;
}


img.attachmenticon-pc
{
    height: 40px;
    max-width: 30px;
}

div.backgroundpicdiv {display:inline-block; width:4rem; height:4rem; margin:0px 0.7rem 0.7rem 0px;   }
div.search-result-images div.backgroundpicdiv {width:4rem; height:4rem; margin:0px 0.7rem 0.7rem 0px;   }

/*Tag Cloud and related*/

span.tagItem{ display: inline-block;padding: 5px;line-height: 100%; vertical-align: middle}
span.tagItem a{ padding: 0;line-height: 125%;display:inline-block}
a.exp-tag{ padding-right: 1rem; }
a.exp-tag span{padding-left: 0.3rem}

.tagcloudModal{height: 70%; width:600px; overflow-y: auto; position:fixed!important; top: 15%!important; }
div.tagcloudModal p {margin:0;font-size: 0.72rem;
line-height: 150%; }

div.tagcloudModal div {border-top:1px solid #e2e2e2; padding-top:1rem; padding-bottom:1rem; }
div.tagcloudModal div:nth-child(1) { border:0px solid transparent; padding-top: 0;}
div.opening-customerdetails{background-color:#f9f7f8 }

select.bgstyledselect, select.bgstyledselect:hover {background:#F1F2F3 url('img/down-arrow.png') 95% 50% no-repeat; border:1px solid #F1F2F3; font-size: 0.75rem;height: 1.75rem;padding: 0.25rem;background-size: 18px 10px; }
#search-container-content-results .question-editor label, .searchmodal .question-editor label {font-size: 0.75rem; margin:0rem 0.3rem 0rem 0.3rem}

div#search { padding: 1rem!important; }
#search-container-content-results table, div.searchmodal table {padding-top:1rem }
#search-container-content-results table tr td, div.searchmodal table tr td { padding:0.4rem 0.3rem; vertical-align:middle}
#search-container-content-results table tr td{ text-align: left;}


td.edit-label { font-size: 0.75rem!important; text-align:left }
#search-container-content-results .question-editor input[type="text"], .searchmodal .question-editor input[type="text"] {font-size:0.75rem; height: 1.75rem; padding:0.25rem; font-size:0.75rem!important }
#search-container-content-results .question-editor input[type="checkbox"], .searchmodal .question-editor input[type="checkbox"] {padding-bottom:0; margin-bottom:0 }
/*.searchmodal {width:600px; overflow-y: auto; position:fixed!important; top: 20%!important;bottom: 20%!important;}*/
.modal-search-window { width: 80%!important; margin-left:-40%!important}
div.searchmodal-title {border-bottom: 1px solid #e2e2e2 }
	div.searchmodal-title h3 {padding-bottom:1rem }
.search-button {padding:0.3rem 2.5rem!important;padding-right: 0.3rem; -webkit-border-radius: 0.3rem;
-moz-border-radius: 0.3rem;
border-radius: 0.3rem;}
.search-modal-blackicon {padding-right:0.5rem; margin-bottom:5px; }
.close-reveal-modal-search { color:#009BDF!important; font-weight:100!important; font-size:2rem!important; }
img.search-modal-blue { margin-top:1rem; margin-bottom:-1rem; cursor:pointer}

.datetimepicker-search {width: 7rem!important; display:inline-block!important;  }
.srcounter{ width: 3.4rem;display: block;}
.srcounter:before{content: "ID "}

.ind-search-result-full {padding-top:0.5rem; padding-bottom:0.5rem; border-top: 1px solid #e2e2e2 }

.ind-search-result-full table.no-style tr td{ vertical-align: top;}
.ind-search-result-text, .ind-search-result-tags {}


.more-search-results {padding:0.3rem 2.5rem!important; padding-right: 0.3rem; margin-top:1rem }
div.columns div.ind-search-result-full:first-child { border-top-width:0px;  padding-top:0px}
div.ind-search-result-tags {margin-top:0.5rem; }
span.search-result-dimension { text-align: center;
border: 1px solid #303030;
display: inline-block;
line-height: 100%;
-webkit-border-radius: 0.25rem;
-moz-border-radius: 0.25rem;
border-radius: 0.25rem;
line-height: 100%; padding: 0.2rem 0.4rem;
color: #303030; }
	span.search-result-dimension.activetag {background:#303030; color:white }

 .ind-answer-package { background: #f9f7f8;}

  div.custom-check-cont label {  

    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 35px;  
    margin-right: 15px;
      line-height: 200%;
   -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}  
div.custom-check-cont label:before {  
    content: "";  
    display: inline-block;  
  
    width: 40px;  
    height: 50px;    
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    /*bottom: 4px;*/  
    background: url(img/checkbg.png) no-repeat 0% 25%;  
	-webkit-border-radius:10px;
-moz-border-radius: 10px;
border-radius: 10px;
    /*box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/  
}  
div.custom-check-cont input[type=checkbox] {  
    display: none;  
} 
div.custom-check-cont label:before {  
    border-radius: 3px;  
}  
div.custom-check-cont input[type=checkbox]:checked + label:before {  
    content: url('img/tick.png');  
    font-size: 1.2rem;  
    color: black;  
    text-align: center;  
    line-height: 15px;  
}  

#loader{ position: fixed!important;top: 300px!important;}
body.backend .tooltip {/*width: auto!important; left:auto!important; margin-left: auto!important*/ }


body.backend .tooltip
{
    font-size: 0.72rem;
    color: #525252;
    background-color: white;
    border: 1px solid #ccc;
    line-height: 150%;
    /*width: 600px!important;
    left: 50%!important;
    margin-left: -300px!important;*/
}

    body.backend .tooltip > .nub
    {
        border: 10px solid white;
        border: 0px solid white!important;
        /*border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);*/
        /*bottom: -20px;*/
		background: url('img/nub.png')  no-repeat;
		height:20px; width:20px;
		top:-11px!important
    }

   body.frontend .tooltip.tip-top > .border-nub
    {
        border: 10px solid #ccc;
        border-color: #ccc rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        bottom: -21px;
		
    }
   /*
    body.frontend .tooltip > .nub.nub-left
    {
        left: 12.5%;
    }

   body.frontend .tooltip > .nub.nub-center
    {
        left: 50%;
    }

    body.frontend .tooltip > .nub.nub-right
    {
        left: 87.5%;
    }*/

   .plusicon-search{ margin-bottom: -36px;padding-right:6px}
   .ind-customer-row-expand span.minimize-section { bottom: -28px;position: relative; z-index:1000}
   .close-reveal-modal{ background: url('img/cross-icon.png') no-repeat;height: 26px;width: 26px;top: 10px!important;right: 10px!important;}