﻿@using System.Diagnostics
@using cusxp.Models
@{
    Layout = null;
    var companies = ViewBag.Companies as List<Company>;
    var companyMain = companies.FirstOrDefault();
    var startDate = DateTime.Now.AddHours(8).AddDays(-1);
    var endDate = DateTime.Now.AddHours(8).AddDays(1);
    var staffName = Request["staffname"];
    var openPackage = Request["openpackage"];
    var like = Request["like"];
    var dislike = Request["dislike"];
    var improve = Request["improve"];
    var locationReqStr = Request["location"];
}
@Html.Partial("_pcPartialHead")
<div style="overflow-x: hidden; overflow-y: hidden">
    <div class="row pc-border-bottom">
        <div class="large-12 small-12 columns text-center pc-section">
            <a href="@Href("~/home/DashboardI/" + ViewBag.CompanyId)">
                <img src="@Href("~/" + companyMain.LogoImage)" class="pc-company-logo pc-2rem-marginbottom" /></a>
            @*<img src="@Href("~/" + companyMain.LogoImage)" class="pc-company-logo pc-2rem-marginbottom" />*@
            <h2 class="pc-2rem-marginbottom">Customer Experience Analytics</h2>
            <div class="row">
                <div class="large-6 small-6 columns text-left filter-container">
                    <a id="pagemove" href="@Href("~/home/DashboardI/" + ViewBag.CompanyId)">Index View</a>

                    @*<span class="divider">|</span>*@

                    @*@Html.ActionLink("Customer View", "dashboardi", new {id = Model.CompanyId});*@
                    <span class="divider">|</span>
                    <a href="#" class="active">Customer View</a>
                </div>
                <script>
                    $("#pagemove").click(function() {
                        $("#loader").bind('opened', function() {
                            $('body').css('overflow', 'hidden');
                        });
                        $("#loader").bind('closed', function() {
                            $('body').css('overflow', '');
                        });
                        $('#loader').foundation('reveal', 'open');
                        //window.location = $(this).attr('href');
                        //setTimeout("window.location=$(this).attr('name')", 500);
                    });
                </script>
                @{ string filter = (string.IsNullOrWhiteSpace(Request.QueryString["filter"]) || Request.QueryString["filter"].ToLower() == "undefined" ? "dd" : Request.QueryString["filter"]).ToLower(); }
                

                @{ var answerPackages = new List<AnswerPackageVM>(); }

                @foreach (Company company in companies)
                {
                    foreach (Location location in company.Locations)
                    {
                        answerPackages.AddRange(location.AnswerPackages.Select(a => new AnswerPackageVM
                            {
                                CompanyId = company.CompanyId,
                                CompanyBrandName = company.BrandName,
                                CompanyRegisteredName = company.RegisteredName,
                                LocationId = location.LocationId,
                                LocationName = location.Name,
                                AnswerPackage = a
                            }).ToList());
                    }
                }
                @{ if (!string.IsNullOrWhiteSpace(staffName))
                   {
                       staffName = staffName.ToLower();
                       answerPackages = answerPackages.Where(a => a.AnswerPackage.Answers.ElementAt(1).Comments != null && a.AnswerPackage.Answers.ElementAt(1).Comments.ToLower() == staffName).ToList();
                   }}
                @{if (!string.IsNullOrWhiteSpace(like))
                  {
                      like = like.ToLower();
                      answerPackages = answerPackages.Where(a => a.AnswerPackage.Answers.ElementAt(2).Score != null && a.AnswerPackage.Answers.ElementAt(2).Score.ToLower().Contains(like)).ToList();

                  }}
                @{if (!string.IsNullOrWhiteSpace(dislike))
                  {
                      dislike = dislike.ToLower();
                      answerPackages = answerPackages.Where(a => a.AnswerPackage.Answers.ElementAt(3).Score != null && a.AnswerPackage.Answers.ElementAt(3).Score.ToLower().Contains(dislike)).ToList();

                  }}
                @{if (!string.IsNullOrWhiteSpace(improve))
                  {
                      improve = improve.ToLower();
                      answerPackages = answerPackages.Where(a => a.AnswerPackage.Answers.ElementAt(4).Score != null && a.AnswerPackage.Answers.ElementAt(4).Score.ToLower().Contains(improve)).ToList();

                  }}
                @{if (!string.IsNullOrWhiteSpace(locationReqStr))
                  {
                      var locationInt = 0;
                      if (int.TryParse(locationReqStr, out locationInt))
                      {
                          answerPackages = answerPackages.Where(a => a.AnswerPackage.LocationId == locationInt).ToList();
                      }

                  }}
                @{ string time = (string.IsNullOrWhiteSpace(Request.QueryString["time"]) ? "all" : Request.QueryString["time"]).ToLower();
                   var timeSplits = time.Split('-');
                   startDate = DateTime.Now.AddHours(8).AddDays(-1);
                   endDate = DateTime.Now.AddHours(8).AddDays(1);
                   if (!(timeSplits.Count() == 2 && DateTime.TryParse(timeSplits[0], out startDate) && DateTime.TryParse(timeSplits[1], out endDate)))
                   {
                       if (time == "year")
                       {
                           startDate = new DateTime(DateTime.Now.AddHours(8).Year, 1, 1);
                           endDate = DateTime.Now.AddHours(8);
                       }
                       else if (time == "month")
                       {
                           startDate = new DateTime(DateTime.Now.AddHours(8).Year, DateTime.Now.AddHours(8).Month, 1);
                           endDate = DateTime.Now.AddHours(8);
                       }
                       else if (time == "week")
                       {
                           startDate = DateTime.Now.AddHours(8).AddDays(-7);
                           endDate = DateTime.Now.AddHours(8);
                       }
                       else if (time == "today")
                       {
                           startDate = DateTime.Now.AddHours(8).Date;
                           endDate = DateTime.Now.AddHours(8);
                       }
                       else
                       {
                           startDate = answerPackages.Count > 0 ? answerPackages.Min(a => a.AnswerPackage.DateCreated).AddDays(-1) : new DateTime(2013, 1, 1);
                           endDate = DateTime.Now.AddHours(8);
                       }
                   }

                   answerPackages = answerPackages.Where(a => a.AnswerPackage.DateCreated >= startDate && a.AnswerPackage.DateCreated <= endDate).ToList();


                   string startDateStr = startDate.ToString("yyyy/MM/dd HH:mm");
                   string endDateStr = endDate.ToString("yyyy/MM/dd HH:mm");

                   if (filter == "dd")
                   {
                       answerPackages = answerPackages.OrderByDescending(a => a.AnswerPackage.DateCreated).ToList();
                   }
                   else if (filter == "da")
                   {
                       answerPackages = answerPackages.OrderBy(a => a.AnswerPackage.DateCreated).ToList();
                   }
                   else if (filter == "cd")
                   {
                       answerPackages = answerPackages.OrderByDescending(a => Double.Parse(a.AnswerPackage.Answers.ElementAt(0).Score)).ToList();
                   }
                   else if (filter == "ca")
                   {
                       answerPackages = answerPackages.OrderBy(a => Double.Parse(a.AnswerPackage.Answers.ElementAt(0).Score)).ToList();
                   }
                }

                <div class="large-6 small-6 columns text-right filter-container">
                    <a class="time @(time == "today" ? "active" : "")" href="#">Today</a>
                    <span class="divider">|</span>
                    <a class="time @(time == "week" ? "active" : "")"  href="#">Week</a>
                    <span class="divider">|</span>
                    <a class="time @(time == "month" ? "active" : "")" href="#">Month</a>
                    <span class="divider">|</span>
                    <a class="time @(time == "year" ? "active" : "")" href="#">Year</a>
                    <span class="divider">|</span>
                    <a class="time @(time == "all" ? "active" : "")" href="#">All</a>
                    <input type="hidden" id="time" value="@time" />
                </div>

                <div id="search-open" class="text-right large-12 small-12 columns">

                    <img src="@Href("~/Content/img/search-blue.png")" class="search-modal-blue"  onclick="$(window).scrollTop(0);"/>@*data-reveal-id="search"*@
                </div>

                <div id="search" class="reveal-modal large rounded-corner searchmodal modal-search-window custom-check-cont" data-reveal>@*data-reveal*@
                    <div id="search-container-content">
                        <div class="searchmodal-title">
                            <h3>
                                <img src="@Href("~/Content/img/Search-black.png")" class="search-modal-blackicon"/>Search</h3>
                        </div>
                        <table class="no-style" width="100%">
                            <tr>
                                <td width="15%" class="edit-label">Touchpoints:</td>
                                <td width="85%">
                                    <div class="question-editor">
                                        @foreach (Company company in companies)
                                        {
                                            foreach (Location location in company.Locations)
                                            {
                                                <input type="checkbox" id="@string.Format("location{0}", location.LocationId)" class="locationCheck" value="@location.LocationId" checked/><label for="@string.Format("location{0}", location.LocationId)">@location.Name</label>
                                            }
                                        }
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td width="15%" class="edit-label">Dimensions:</td>
                                <td width="85%">
                                    <div class="question-editor">
                                        <input name="People" id="checkbox1" type="checkbox" checked><label for="checkbox1">People</label>
                                        <input name="Product" id="checkbox2" type="checkbox" checked><label for="checkbox2">Product</label>
                                        <input name="Process" id="checkbox3" type="checkbox" checked><label for="checkbox3">Process</label>
                                        <input name="Venue" id="checkbox4" type="checkbox" checked><label for="checkbox4">Venue</label>
                                        <input name="Others" id="checkbox5" type="checkbox" checked><label for="checkbox5">Others</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="15%" class="edit-label">Keywords:</td>
                                <td width="85%">
                                    <div class="question-editor">
                                        <input id="searchKeys" type="text" />
                                    </div>


                                </td>
                            </tr>
                            <tr>
                                <td width="15%" class="edit-label">Without these keywords:</td>
                                <td width="85%">
                                    <div class="question-editor">
                                        <input id="searchExcludeKeys" type="text" />
                                    </div>


                                </td>
                            </tr>
                            <tr>
                                <td width="15%" class="edit-label">From:</td>
                                <td width="85%">
                                    <div class="question-editor">
                                        <input type="text" id="datetimepickersearch1" class="datetimepicker-search" />
                                        <span style="padding: 0px 0.75rem; font-size: 0.75rem">to </span>
                                        <input type="text" id="datetimepickersearch2" class="datetimepicker-search" />
                                    </div>
                                </td>
                            </tr>

                        </table>

                        <div class="text-right">
                            <span class="loadmorebutton search-button" id="searchBtn">Search
                            </span>
                        </div>
                        <a class="close-reveal-modal close-reveal-modal-search"></a>
                    </div>
                    <div id="search-container-load" style="display: none; text-align: center">
                        <br />
                        <br />
                        <br />
                        <img src="@Href("~/Content/img/482.gif")" />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>


                <script>
                    $(function() {
                        
                        function getLocations() {
                            var locations = "";
                            var counter = 0;
                            for(var i = 0; i < $(".locationCheck").length; i++) {
                                var locationCheck = $($(".locationCheck")[i]);
                                if (locationCheck.is(":checked")) {
                                    if (counter != 0) {
                                        locations += "|" + locationCheck.val();
                                    } else {
                                        locations += locationCheck.val();
                                    }
                                    counter++;
                                }
                            }

                            return locations;
                        }
                        
                        $("#search").bind('opened', function() {
                            $('body').css('overflow', 'hidden');
                        });
                        $("#search").bind('closed', function() {
                            $('body').css('overflow', '');
                        });
                        $("#search-open").click(function() {
                            $("#search").foundation('reveal', 'open');
                        });
                        
                        var searchtop = ($(window).height() - $('#search').height())/2;
                        $('#search').css({position:'fixed' });
                    

                        $('#datetimepickersearch1').datetimepicker({
                            onChangeDateTime: function(dp, $input) {
                                var currentDateTime = new Date($input.val());
                                var day = pad(currentDateTime.getDate(), 2);
                                var month = pad(currentDateTime.getMonth() + 1, 2);
                                var year = currentDateTime.getFullYear();
                                var hour = pad(currentDateTime.getHours(), 2);
                                var minute = pad(currentDateTime.getMinutes(), 2);
                            },
                            //onShow: function(ct) {
                            //    this.setOptions({
                            //        maxDate: $('#datetimepickersearch2').val() ? $('#datetimepickersearch2').val() : false
                            //    });
                            //},
                            format: 'd/m/Y H:i'
                        });
                        $('#datetimepickersearch2').datetimepicker(
                            {
                                onChangeDateTime: function(dp, $input) {
                                    var currentDateTime = new Date($input.val());
                                    var day = pad(currentDateTime.getDate(), 2);
                                    var month = pad(currentDateTime.getMonth() + 1, 2);
                                    var year = currentDateTime.getFullYear();
                                    var hour = pad(currentDateTime.getHours(), 2);
                                    var minute = pad(currentDateTime.getMinutes(), 2);
                                },
                                //onShow: function(ct) {
                                //    this.setOptions({
                                //        minDate: $('#datetimepickersearch1').val()
                                //    });
                                //},
                                format: 'd/m/Y H:i'
                            });
                        $("#searchBtn").click(function() {
                            $('#search-container-content').toggle();
                            $('#search-container-load').toggle();

                            var tags = "";
                            var tagCounter = 0;
                            if ($("#checkbox1").is(":checked")) {
                                tags = tags + (tagCounter == 0 ? $("#checkbox1").attr("name") : "|" + $("#checkbox1").attr("name"));
                                tagCounter++;
                            }
                            if ($("#checkbox2").is(":checked")) {
                                tags = tags + (tagCounter == 0 ? $("#checkbox2").attr("name") : "|" + $("#checkbox2").attr("name"));
                                tagCounter++;
                            }
                            if ($("#checkbox3").is(":checked")) {
                                tags = tags + (tagCounter == 0 ? $("#checkbox3").attr("name") : "|" + $("#checkbox3").attr("name"));
                                tagCounter++;
                            }
                            if ($("#checkbox4").is(":checked")) {
                                tags = tags + (tagCounter == 0 ? $("#checkbox4").attr("name") : "|" + $("#checkbox4").attr("name"));
                                tagCounter++;
                            }
                            if ($("#checkbox5").is(":checked")) {
                                tags = tags + (tagCounter == 0 ? $("#checkbox5").attr("name") : "|" + $("#checkbox5").attr("name"));
                                tagCounter++;
                            }
                            window.location = "@Href("~/Home/Search", new { id = companyMain.CompanyId })" + "&location=" + getLocations() + "&searchKeys=" + $("#searchKeys").val() + "&searchExcludeKeys=" + $("#searchExcludeKeys").val() + "&tags=" + tags+ "&time=" + $("#datetimepickersearch1").val() + "-" + $("#datetimepickersearch2").val();
                        });
                    });
                    function navigate(locationId) {
                        window.location = window.location.origin + window.location.pathname + "?" + "time=" + $("#time").val() + "&" + "location=" + (typeof locationId != "undefined" && locationId != null ? locationId : $("#locationReq").val()) + "&filter=" + $("#filter").val() 
                        //window.location = 
                    }
                
                    $('#datetimepickersearch1').val('@((new DateTime(2014, 1, 1)).ToString("dd/MM/yyyy HH:mm"))');
                    $('#datetimepickersearch2').val('@(DateTime.Now.AddHours(8).ToString("dd/MM/yyyy HH:mm"))');

                    $(document).ready(function () {
                        $(".time").click(function () {
                            $("#time").val($(this).text().toLowerCase());  
                            $("#loader").bind('opened', function() {
                                $('body').css('overflow', 'hidden');
                            });
                            $("#loader").bind('closed', function() {
                                $('body').css('overflow', '');
                            });
                            $('#loader').foundation('reveal', 'open');
                            setTimeout("navigate()", 500);
                        });
                    });
                </script>
            </div>
        </div>
    </div>

    <div class="row pc-border-bottom">
        <div class="large-5 small-5 columns pc-section">
            <div class="date-range-pick left text-center" id="open1">
                <span id="date1">@startDate.ToString("dd/MM/yyyy")</span>
                <span id="time1">@startDate.ToString("HH:mm")</span>
                <input style="width: 0px; border: white;" id="datetimepicker1" class="datetimepicker" value="@startDateStr"/>

            </div>

        </div>
        <div class="large-2 small-2 columns pc-section text-center regular-font greycolor" style="line-height: 3rem">
            to
                
        </div>
        <div class="large-5 small-5 columns pc-section">
            <div class="date-range-pick right text-center blue" id="open2">
                <span id="date2">@endDate.ToString("dd/MM/yyyy")</span>
                <span id="time2">@endDate.ToString("HH:mm")</span>
                <input style="width: 0px; border: white;" id="datetimepicker2" class="datetimepicker" value="@endDateStr" />
            </div>
        </div>
        <div class="large-12 small-12 columns filter-container text-center pc-2rem-marginbottom">
            @{ string locationSpanId = ""; }
            @{ string locationReq = (string.IsNullOrWhiteSpace(Request.QueryString["location"]) ? "all" : Request.QueryString["location"]).ToLower(); }

            <a href="#" class="locationFilter active" name="all" id="locationAll">All</a>
            <span class="divider" id="@locationSpanId">|</span>
            @foreach (Company company in companies)
            {
                foreach (Location location in company.Locations)
                {
                    locationSpanId = "divider" + location.LocationId;
                <a href="#" class="locationFilter" id="@string.Format("locationFilter{0}", location.LocationId)" name="@location.LocationId">@location.Name</a>
                <span class="divider" id="@locationSpanId">|</span>
                }
            }
            <input type="hidden" value="@locationReq" id="locationReq" />
        </div>
        <script>
            var locationSpanId = "@locationSpanId";
            var locationReq = "@locationReq";
            $(document).ready(function () {
                $("#" + locationSpanId).hide();
                if (locationReq != "all") {
                    $(".locationFilter").removeClass("active");
                    $("#locationFilter" + locationReq).addClass("active");
                    $(".cusxpSingle").hide();
                    if (locationReq == "all") {
                        $(".cusxpSingle").show();
                    } else {
                        $(".location" + locationReq).show();
                    }
                } else {
                    $("#locationAll").addClass("active");
                }
                $(".locationFilter").click(function () {
                    //$("#locationReq").val($(this).attr('name'));
                    //$(".locationFilter").removeClass("active");
                    //$(".cusxpSingle").hide();
                    $("#loader").bind('opened', function() {
                        $('body').css('overflow', 'hidden');
                    });
                    $("#loader").bind('closed', function() {
                        $('body').css('overflow', '');
                    });
                    $('#loader').foundation('reveal', 'open');
                    
                    if ($(this).text() == "All") {
                        setTimeout("navigate('all')", 500);
                    } else {
                        setTimeout("navigate('" + $(this).attr('name') + "')", 500);
                    }
                    //$(this).addClass("active");
                    //navigate();
                    return false;
                });
            });
        </script>



        <div class="large-12 small-12 columns text-center pc-2rem-marginbottom">
            Sort by: 
                    <a href="#" data-dropdown="drop" class="pc-customer-filter dropdown large-font"><span id="filterTitle">Date (Latest to Earliest)</span><img src="@Href("~/Content/img/down-arrow-s.png")" style="margin-left: 0.5rem;"/></a>

            <ul id="drop" data-dropdown-content class="medium pc-customer-filter-dropdown f-dropdown text-left">
                <li><a href="#" class="location filter" id="dd">Date (Latest to Earliest)</a></li>
                <li><a href="#" class="location filter" id="da">Date (Earliest to Latest)</a></li>
                <li><a href="#" class="location filter" id="cd">CusXP Index (Highest to Lowest)</a></li>
                <li><a href="#" class="location filter" id="ca">CusXP Index (Lowest to Highest)</a></li>

            </ul>
            <input type="hidden" value="@filter" id="filter" />
        </div>
        <script>
            $(document).ready(function () {
                $("#filterTitle").text($("#@filter").text());
                $(".filter").click(function () {
                    $("#filter").val($(this).attr("id"));
                    navigate();
                });
            });
        </script>

    </div>


    <div title="customer-view">
        @{
            var mainCounter = 0;
            foreach (AnswerPackageVM answerPackage in answerPackages)
            {
            <div class="@string.Format("order{0}", mainCounter) row pc-border-bottom cusxpSingle @string.Format("location{0}", answerPackage.LocationId) @string.Format("company{0}", answerPackage.CompanyId)" id="@string.Format("map{0}", answerPackage.AnswerPackage.AnswerPackageId)">

                <div class="large-12 small-12 columns ind-customer-row">

                    <table width="100%" class="no-style">
                        <tr>
                            <td width="25%" class="ind-customer-row-name">
                                <span class="regular-font">@Html.Raw(answerPackage.AnswerPackage.FullNameHTML) @(answerPackage.AnswerPackage.IsAdmin ? "(A)" : string.Empty)</span>


                                @* <span class="regular-font">@(string.IsNullOrWhiteSpace(answerPackage.AnswerPackage.FullName) ? "John Doe" : answerPackage.AnswerPackage.FullName) @(answerPackage.AnswerPackage.IsAdmin ? "(Admin)" : string.Empty)</span>*@
                            </td>
                            <td width="25%" class="ind-customer-row-date para-font" style="padding-left: 0.9375rem">
                                <span>@answerPackage.AnswerPackage.DateCreated.ToString("dd/MM/yyyy")</span>
                                <span>@answerPackage.AnswerPackage.DateCreated.ToString("HH:mm")</span>
                            </td>
                            <td width="16.67%" class="ind-customer-row-cusxp" style="padding-left: 0.9375rem">
                                @{ var score = Int32.Parse(answerPackage.AnswerPackage.Answers.ElementAt(0).Score);}
                                <span class="cusxp-score large-font @(score > 70 ? "score-70plus" : score > 30 ? "score-30plus" : "score-0plus")">

                                    @*@if (answerPackage.AnswerPackage.Answers.ToString() == "100")*@
                                    @if (score == 100)
                                    {
                                        <k>100</k>
                                    }
                                    else
                                    {
                                        @(answerPackage.AnswerPackage.Answers.ElementAt(0).Score + ".0");
                                    }



                                </span>
                                <span class="para-font">CusXP Index
                                </span>

                            </td>
                            <td width="25%" class="ind-customer-row-location" style="padding-left: 0.9375rem;" >@answerPackage.LocationName (Location)</td>
                            <td width="8.33%" class="ind-customer-row-expand blue text-right" style="vertical-align:bottom">
                                <span class="toggleAnswerPackage" style="margin-right:-5px;" id="@string.Format("tap{0}", answerPackage.AnswerPackage.AnswerPackageId)" name="@answerPackage.AnswerPackage.AnswerPackageId">
                                    <img class="plusicon-search"src="@Href("~/Content/img/PlusIcon.png")"/>

                                </span>
                                <span class="minimize-section" id="@string.Format("mainminimize{0}", answerPackage.AnswerPackage.AnswerPackageId)"name="@string.Format("ap{0}", answerPackage.AnswerPackage.AnswerPackageId)" name2="@string.Format("tap{0}", answerPackage.AnswerPackage.AnswerPackageId)" style="display:none;"></span>

                            </td>

                        </tr>

                    </table>


                    @*


                        <div class="large-3 small-3 columns ind-customer-row-name regular-font">


                            @(string.IsNullOrWhiteSpace(answerPackage.AnswerPackage.FullName) ? "John Doe" : answerPackage.AnswerPackage.FullName) @(answerPackage.AnswerPackage.IsAdmin ? "(Admin)" : string.Empty)

                        </div>
                        <div class="large-3 small-3 columns ind-customer-row-date para-font">
                            <span>@answerPackage.AnswerPackage.DateCreated.ToString("dd/MM/yyyy")</span>
                            <span>@answerPackage.AnswerPackage.DateCreated.ToString("HH:mm")</span>
                        </div>
                        <div class="large-2 small-2 columns ">
                            @{ var score = Int32.Parse(answerPackage.AnswerPackage.Answers.ElementAt(0).Score);}
                            <span class="cusxp-score large-font @(score > 70 ? "score-70plus" : score > 30 ? "score-30plus" : "score-0plus")">@(answerPackage.AnswerPackage.Answers.ElementAt(0).Score + ".0")
                            </span>
                            <span class="para-font">CusXP Index
                            </span>
                        </div>
                        <div class="large-3 small-3 columns ind-customer-row-location">
                            @answerPackage.LocationName (Location)
                        </div>
                        <div class="large-1 small-1 columns ind-customer-row-expand large-font blue">
                            <span class="toggleAnswerPackage" id="@string.Format("tap{0}", answerPackage.AnswerPackage.AnswerPackageId)" name="@answerPackage.AnswerPackage.AnswerPackageId">+</span>
                        </div>*@




                    <div class="row" id="@string.Format("ap{0}", answerPackage.AnswerPackage.AnswerPackageId)" style="display: none;">
                        <div id="1" class="ind-customer-details large-12 small-12 columns" style="display: block">
                            <div class="row">
                                <div class="large-12 small-12 subsection-divider-cont">

                                    <div class="border-line"></div>
                                </div>
                            </div>

                            <div class="row ind-customer-details-section">
                                <div class="large-6 small-6 columns">
                                    <table class="no-style regular-font" width="100%">
                                        <tr>
                                            <td class="greycolor" style="width: 40%">Answer Id:</td>
                                            <td>@answerPackage.AnswerPackage.AnswerPackageId</td>
                                        </tr>
                                        <tr>
                                            <td class="greycolor" style="width: 40%">CusXP Index:</td>
                                            <td>@answerPackage.AnswerPackage.Answers.ElementAt(0).Score</td>
                                        </tr>
                                        <tr>
                                            <td class="greycolor">Registered Name:</td>
                                            <td>@answerPackage.CompanyRegisteredName</td>
                                        </tr>
                                        <tr>
                                            <td class="greycolor">Brand:</td>
                                            <td>@answerPackage.CompanyBrandName</td>
                                        </tr>
                                        <tr>
                                            <td class="greycolor">Country:</td>
                                            <td>@answerPackage.AnswerPackage.Country</td>
                                        </tr>
                                        <tr>
                                            <td class="greycolor">Location:</td>
                                            <td>@answerPackage.LocationName</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="large-6 small-6 columns" width="100%" style="border-left: 1px solid #e2e2e2">
                                    <table class="no-style" width="100%">
                                        <tr>
                                            <td class="greycolor" style="width: 40%">Date:</td>
                                            <td>@answerPackage.AnswerPackage.DateCreated.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                        <tr>
                                            <td class="greycolor">Time:</td>
                                            <td>@answerPackage.AnswerPackage.DateCreated.ToString("HH:mm")</td>
                                        </tr>
                                        <tr>
                                            <td class="greycolor">Given Name:</td>
                                            <td>@answerPackage.AnswerPackage.GivenName</td>
                                        </tr>
                                        <tr>
                                            <td class="greycolor">Surname:</td>
                                            <td>@answerPackage.AnswerPackage.SurName</td>
                                        </tr>
                                        <tr>
                                            <td class="greycolor">Mobile:</td>
                                            <td>
                                                <a href="tel:@answerPackage.AnswerPackage.ContactNumber">@answerPackage.AnswerPackage.ContactNumber</a>
                                            </td>
                                           @* <td class="show-for-medium-up">@answerPackage.AnswerPackage.ContactNumber</td>*@
                                        </tr>
                                        <tr>
                                            <td class="greycolor">Email:</td>
                                            <td><a href="mailto:@answerPackage.AnswerPackage.Email" target="_top">@answerPackage.AnswerPackage.Email</a></td>
                                        </tr>
                                    </table>

                                </div>

                            </div>
                            <div class="row">
                                <div class="large-12 small-12 subsection-divider-cont">
                                    <div class="minimize-cont">
                                        <span class="minimize-section" name="@string.Format("ap{0}", answerPackage.AnswerPackage.AnswerPackageId)" name2="@string.Format("tap{0}", answerPackage.AnswerPackage.AnswerPackageId)"></span>
                                    </div>
                                    <div class="border-line"></div>
                                </div>
                            </div>
                            <div class="row ind-customer-details-section">
                                <div class="large-4 small-4 columns">
                                    <span>How was your overall experience with us?</span>

                                </div>
                                <div class="large-8 small-8 columns text-right">
                                    <div class="row">
                                        <div class="large-4 small-4 columns">
                                            <div class="donut-chart-label regular-font">
                                                CusXP<br />
                                                Index
                                            </div>

                                        </div>
                                        <div class="large-8 small-8 columns">
                                            <div class="linemarker70">
                                                <div class="linemarker-line">
                                                </div>
                                            </div>
                                            <div class="chart-labelling">
                                                <span class="regular-font" style="font-weight: 500">@string.Format("{0}.0", answerPackage.AnswerPackage.Answers.ElementAt(0).Score)</span>
                                                <span class="green-color">70.0</span>
                                            </div>
                                            <canvas id="@string.Format("chart{0}", answerPackage.AnswerPackage.AnswerPackageId)" width="265" height="265"></canvas>


                                        </div>

                                        <script>

                                            var doughnutData = [
                                                {
                                                    value: parseInt("@answerPackage.AnswerPackage.Answers.ElementAt(0).Score"),
                                                    color: "#2f2f2f"
                                                },
                                                {
                                                    value: parseInt("@(100 - Int32.Parse(@answerPackage.AnswerPackage.Answers.ElementAt(0).Score))"),
                                                    color: "#EDEDED"
                                                }
                                            ];
                                            
                                            var myDoughnut = new Chart(document.getElementById("@string.Format("chart{0}", answerPackage.AnswerPackage.AnswerPackageId)").getContext("2d")).Doughnut(doughnutData);

                                        </script>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-12 small-12 subsection-divider-cont">
                                    <div class="minimize-cont">
                                        <span class="minimize-section" name="@string.Format("ap{0}", answerPackage.AnswerPackage.AnswerPackageId)" name2="@string.Format("tap{0}", answerPackage.AnswerPackage.AnswerPackageId)"></span>
                                    </div>
                                    <div class="border-line"></div>
                                </div>
                            </div>
                            <div class="row ind-customer-details-section">
                                <div class="large-4 small-4 columns">
                                    <span>Which Staff did you interact with</span>
                                </div>

                                <div class="large-8 small-8 columns question-editor">
                                    <div class="text-areadiv">@answerPackage.AnswerPackage.Answers.ElementAt(1).Comments</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 small-12 subsection-divider-cont">
                                    <div class="minimize-cont">
                                        <span class="minimize-section" name="@string.Format("ap{0}", answerPackage.AnswerPackage.AnswerPackageId)" name2="@string.Format("tap{0}", answerPackage.AnswerPackage.AnswerPackageId)"></span>
                                    </div>
                                    <div class="border-line"></div>
                                </div>
                            </div>
                            <div class="row ind-customer-details-section">
                                <div class="large-4 small-4 columns">
                                    <span>What did you like the most?</span>
                                </div>

                                <div class="large-8 small-8 columns question-editor">
                                    <div class="text-areadiv">@answerPackage.AnswerPackage.Answers.ElementAt(2).Comments</div>
                                </div>
                            </div>

                            <div class="row ind-customer-details-section">
                                <div class="large-4 small-4 columns">
                                    <span class="greycolor">The above experience refers to</span>
                                </div>

                                <div class="large-8 small-8 column">
                                    <div class="row">
                                        <div class="exp-area-choice-container small-12 columns">
                                            <ul class="small-block-grid-3 small-font">
                                                <li><span class="toggleOnClick exp-area-choices @(answerPackage.AnswerPackage.Answers.ElementAt(2).Score.Contains("People") ? "active" : "")">People</span></li>
                                                <li><span class="toggleOnClick exp-area-choices @(answerPackage.AnswerPackage.Answers.ElementAt(2).Score.Contains("Product") ? "active" : "")">Product</span></li>
                                                <li><span class="toggleOnClick exp-area-choices @(answerPackage.AnswerPackage.Answers.ElementAt(2).Score.Contains("Process") ? "active" : "")">Process</span></li>
                                                <li><span class="toggleOnClick exp-area-choices @(answerPackage.AnswerPackage.Answers.ElementAt(2).Score.Contains("Venue") ? "active" : "")">Venue</span></li>
                                                <li><span class="toggleOnClick exp-area-choices @(answerPackage.AnswerPackage.Answers.ElementAt(2).Score.Contains("Others") ? "active" : "")">Others</span></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="large-12 small-12 subsection-divider-cont">
                                    <div class="minimize-cont">
                                        <span class="minimize-section" name="@string.Format("ap{0}", answerPackage.AnswerPackage.AnswerPackageId)" name2="@string.Format("tap{0}", answerPackage.AnswerPackage.AnswerPackageId)"></span>
                                    </div>
                                    <div class="border-line"></div>
                                </div>
                            </div>
                            <div class="row ind-customer-details-section">
                                <div class="large-4 small-4 columns">
                                    <span>What did you dislike the most?</span>
                                </div>

                                <div class="large-8 small-8 columns question-editor">
                                    <div class="text-areadiv">@answerPackage.AnswerPackage.Answers.ElementAt(3).Comments</div>
                                </div>
                            </div>

                            <div class="row ind-customer-details-section">
                                <div class="large-4 small-4 columns">
                                    <span class="greycolor">The above experience refers to</span>
                                </div>

                                <div class="large-8 small-8 column">
                                    <div class="row">
                                        <div class="exp-area-choice-container small-12 columns">
                                            <ul class="small-block-grid-3 small-font">
                                                <li><span class="toggleOnClick exp-area-choices @(answerPackage.AnswerPackage.Answers.ElementAt(3).Score.Contains("People") ? "active" : "")">People</span></li>
                                                <li><span class="toggleOnClick exp-area-choices @(answerPackage.AnswerPackage.Answers.ElementAt(3).Score.Contains("Product") ? "active" : "")">Product</span></li>
                                                <li><span class="toggleOnClick exp-area-choices @(answerPackage.AnswerPackage.Answers.ElementAt(3).Score.Contains("Process") ? "active" : "")">Process</span></li>
                                                <li><span class="toggleOnClick exp-area-choices @(answerPackage.AnswerPackage.Answers.ElementAt(3).Score.Contains("Venue") ? "active" : "")">Venue</span></li>
                                                <li><span class="toggleOnClick exp-area-choices @(answerPackage.AnswerPackage.Answers.ElementAt(3).Score.Contains("Others") ? "active" : "")">Others</span></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 small-12 subsection-divider-cont">
                                    <div class="minimize-cont">
                                        <span class="minimize-section" name="@string.Format("ap{0}", answerPackage.AnswerPackage.AnswerPackageId)" name2="@string.Format("tap{0}", answerPackage.AnswerPackage.AnswerPackageId)"></span>
                                    </div>
                                    <div class="border-line"></div>
                                </div>
                            </div>

                            <div class="row ind-customer-details-section">
                                <div class="large-4 small-4 columns">
                                    <span>What can we do to further improve your experience?</span>
                                </div>

                                <div class="large-8 small-8 columns question-editor">
                                    <div class="text-areadiv">@answerPackage.AnswerPackage.Answers.ElementAt(4).Comments</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 small-12 subsection-divider-cont">
                                    <div class="minimize-cont">
                                        <span class="minimize-section" name="@string.Format("ap{0}", answerPackage.AnswerPackage.AnswerPackageId)" name2="@string.Format("tap{0}", answerPackage.AnswerPackage.AnswerPackageId)"></span>
                                    </div>
                                    <div class="border-line"></div>
                                </div>
                            </div>

                            <div class="row ind-customer-details-section">
                                <div class="large-4 small-4 columns">
                                    <span>Attachment</span>
                                </div>

                                <div class="large-8 small-8 columns question-editor">

                                    <div class="pc-image-uploaded">
                                        @if (answerPackage.AnswerPackage.Image != null && answerPackage.AnswerPackage.Image.ToLower().Contains(".png"))
                                        {
                                            <a href="@answerPackage.AnswerPackage.Image.Replace("_testImage.png", "_testImage.png")" target="_blank">
                                                <img src="@answerPackage.AnswerPackage.Image.Replace("_testImage.png", "_Small_testImage.png")" class=" rounded-corner " />
                                            </a>
                                            
                                        }
                                        else if (answerPackage.AnswerPackage.Image != null)
                                        {
                                            <div style="margin-top: 1rem;">
                                                <table class="no-style">
                                                    <tr>
                                                        <td width="50px;">
                                                            <img class="attachmenticon-pc" src="@Href("~/Content/img/attachement-icon.jpg")" /></td>
                                                        <td><a href="@answerPackage.AnswerPackage.Image">@answerPackage.AnswerPackage.Image</a></td>

                                                    </tr>

                                                </table>


                                            </div>
                                        }
                                        else
                                        {
                                            <span>no data found</span>
                                        }
                                    </div>
                                    @if (answerPackage.AnswerPackage.Image != null && answerPackage.AnswerPackage.ImageDescription != null)
                                    {
                                        <div class="text-areadiv" style="margin-bottom: 1rem">@answerPackage.AnswerPackage.ImageDescription </div>
                                    }



                                    <div class="pc-image-uploaded">
                                        @if (answerPackage.AnswerPackage.Image2 != null && answerPackage.AnswerPackage.Image2.ToLower().Contains(".png"))
                                        {
                                           
                                            <img src="@answerPackage.AnswerPackage.Image2.Replace("_testImage.png", "_Small_testImage.png")" class=" rounded-corner " />
                                        }
                                        else if (answerPackage.AnswerPackage.Image2 != null)
                                        {
                                            <div style="margin-top: 1rem;">
                                                <table class="no-style">
                                                    <tr>
                                                        <td width="50px;">
                                                            <img class="attachmenticon-pc" src="@Href("~/Content/img/attachement-icon.jpg")" /></td>
                                                        <td><a href="@answerPackage.AnswerPackage.Image2">@answerPackage.AnswerPackage.Image2</a></td>

                                                    </tr>

                                                </table>

                                            </div> 
                                        

                                        }
                                    </div>
                                    @if (answerPackage.AnswerPackage.Image2 != null && answerPackage.AnswerPackage.ImageDescription2 != null)
                                    {
                                        <div class="text-areadiv" style="margin-bottom: 1rem">@answerPackage.AnswerPackage.ImageDescription2</div>
                                    }



                                    <div class="pc-image-uploaded">
                                        @if (answerPackage.AnswerPackage.Image3 != null && answerPackage.AnswerPackage.Image3.ToLower().Contains(".png"))
                                        {
                                           
                                            <img src="@answerPackage.AnswerPackage.Image3.Replace("_testImage.png", "_Small_testImage.png")" class=" rounded-corner " />
                                        }
                                        else if (answerPackage.AnswerPackage.Image3 != null)
                                        {
                                            <div style="margin-top: 1rem;">

                                                <table class="no-style">
                                                    <tr>
                                                        <td width="50px;">
                                                            <img class="attachmenticon-pc" src="@Href("~/Content/img/attachement-icon.jpg")" /></td>
                                                        <td><a href="@answerPackage.AnswerPackage.Image3">@answerPackage.AnswerPackage.Image3</a></td>

                                                    </tr>

                                                </table>


                                            </div>
                                        }
                                    </div>
                                    @if (answerPackage.AnswerPackage.Image3 != null && answerPackage.AnswerPackage.ImageDescription3 != null)
                                    {
                                        <div class="text-areadiv">@answerPackage.AnswerPackage.ImageDescription3</div>
                                    }

                                </div>

                            </div>
                            <div class="row">
                                <div class="large-12 small-12 subsection-divider-cont">
                                    <div class="minimize-cont">
                                        <span class="minimize-section" name="@string.Format("ap{0}", answerPackage.AnswerPackage.AnswerPackageId)" name2="@string.Format("tap{0}", answerPackage.AnswerPackage.AnswerPackageId)"></span>
                                    </div>
                                    <div class="border-line"></div>
                                </div>
                            </div>

                            <div class="row ind-customer-details-section">
                                <div class="large-4 small-4 columns">
                                    <span>Location</span>
                                </div>

                                <div class="large-8 small-8 columns question-editor">
                                    <span>@answerPackage.LocationName</span>

                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 small-12 subsection-divider-cont">
                                    <div class="minimize-cont">
                                        <span class="minimize-section" name="@string.Format("ap{0}", answerPackage.AnswerPackage.AnswerPackageId)" name2="@string.Format("tap{0}", answerPackage.AnswerPackage.AnswerPackageId)"></span>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                                    mainCounter++;
            }
        
        }

        <div class="row">
            <div class="large-12 small-12 columns text-center pc-border-bottom">
                <span class="loadmorebutton" id="loadmorebutton" style="margin-top: 1rem; margin-bottom: 1rem">Load more
                </span>
            </div>

        </div>
        @if (mainCounter == 0)
        {
            
            <div class="row">
                <div class="large-12 small-12 columns text-center" style="padding-top: 2rem; padding-bottom: 2rem;">
                    <span>no data found</span>
                </div>
            </div>
        }
    </div>

</div>

<script>
    var onTop = false;
    var openPackage = @(string.IsNullOrWhiteSpace(openPackage) ? "null" : openPackage);

    $(document).ready(function () {
        $(".toggleAnswerPackage").click(function () {
            $(this).hide();
            $("#mainminimize" + $(this).attr('name')).show()
            $("#ap" + $(this).attr("name")).toggle("slow", function () {
                // Animation complete.
            });
        });

        $(".minimize-section").click(function () {
            var idname = $(this).attr('name');
            $("#mainminimize" + idname.substring(2, idname.length)).hide();
            $("#" + $(this).attr('name2')).show();
            $("#" + $(this).attr('name')).toggle("slow", function () {
                // Animation complete.
            });
            // $('#' + idname)[0].scrollIntoView( true );
            var top = $('#' + idname).offset().top -120;
            $(window).scrollTop( top );

            // $('body').scrollTo("#" + idname);

        });

        $(".cusxpSingle").hide();
        var loadIncrement = 7;
        var currPos = 0;
        var totalAPs = @answerPackages.Count;

        function loadMore() {
            for (var i = currPos; i < currPos + loadIncrement; i++) {
                $(".order" + i).toggle('slow');
                console.log($(".order" + i).attr("id"));
                if($(".order" + i).attr("id") == "map" + openPackage){
                    onTop = true;
                }
            }
            currPos += loadIncrement;
            if(currPos > totalAPs - 1){
                $("#loadmorebutton").hide();
            }
        }

        if(openPackage == null || typeof openPackage == "undefined")
        {
            loadMore();

            $("#loadmorebutton").click(function () { loadMore(); });
        }else{
            $("#map" + openPackage).show();
            $("#ap" + openPackage).show();
            $("#loadmorebutton").hide();
            $(".toggleAnswerPackage").hide();
        }
    });
        

</script>

@Html.Partial("_pcPartialFoot")
<script>
    $(document).foundation();
</script>
<script>
    function pad(num, size) {
        var s = num + "";
        while (s.length < size) s = "0" + s;
        return s;
    }
    $('#datetimepicker1').datetimepicker({
        onChangeDateTime: function (dp, $input) {
            var currentDateTime = new Date($input.val());
            var day = pad(currentDateTime.getDate(), 2);
            var month = pad(currentDateTime.getMonth() + 1, 2);
            var year = currentDateTime.getFullYear();
            var hour = pad(currentDateTime.getHours(), 2);
            var minute = pad(currentDateTime.getMinutes(), 2);
            $("#date1").text(day + "/" + month + "/" + year);
            $("#time1").text(hour + ":" + minute);
        },
        //onShow: function (ct) {
        //    this.setOptions({
        //        maxDate: $('#datetimepicker2').val() ? $('#datetimepicker2').val() : false
        //    });
        //},
        onClose: function () {
            window.location = window.location.origin + window.location.pathname + "?" + "time=" + $("#datetimepicker1").val() + "-" + $("#datetimepicker2").val() + "&" + "location=" + $("#locationReq").val() + "&filter=" + $("#filter").val();
        }
    });
    $('#datetimepicker2').datetimepicker(
        {
            onChangeDateTime: function (dp, $input) {
                var currentDateTime = new Date($input.val());
                var day = pad(currentDateTime.getDate(), 2);
                var month = pad(currentDateTime.getMonth() + 1, 2);
                var year = currentDateTime.getFullYear();
                var hour = pad(currentDateTime.getHours(), 2);
                var minute = pad(currentDateTime.getMinutes(), 2);
                $("#date2").text(day + "/" + month + "/" + year);
                $("#time2").text(hour + ":" + minute);
            },
            //onShow: function (ct) {
            //    this.setOptions({
            //        minDate: $('#datetimepicker1').val() ? $('#datetimepicker1').val() : false
            //    });
            //},
            onClose: function () {
                window.location = window.location.origin + window.location.pathname + "?" + "time=" + $("#datetimepicker1").val() + "-" + $("#datetimepicker2").val() + "&" + "location=" + $("#locationReq").val() + "&filter=" + $("#filter").val();
            }
        });
    $('#open1').click(function () {
        $('#datetimepicker1').datetimepicker('show');
    });
    $('#open2').click(function () {
        $('#datetimepicker2').datetimepicker('show');
    });
</script>
<script>
    var fill = d3.scale.category20();

    d3.layout.cloud().size([525, 325])
        .words([
                "Hello", "world", "normally", "you", "want", "more", "words",
                "than", "this", "asda", "asda1", "as2da", "a3sda", "as4da", "as5da", "a6sda", "a7sda", "a8sda", "9asda", "asda0", "a1sda", "asda2", "asda3", "asda4", "asda5", "asda6", "asda7", ].map(function (d) {
                    return { text: d, size: 10 + Math.random() * 90 };
                }))
        .padding(5)
        .rotate(function () { return ~~(Math.random() * 2) * 90; })
        .font("Impact")
        .fontSize(function (d) { return d.size; })
        .on("end", draw)
        .start();

    function draw(words) {
        d3.select("#mywordcloud").append("svg")
            .attr("width", 525)
            .attr("height", 325)
            .append("g")
            .attr("transform", "translate(265,165)")//HALF OF WIDTH/HEIGHT
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function (d) { return d.size + "px"; })
            .style("font-family", "Impact")
            .style("fill", function (d, i) { return fill(i); })
            .attr("text-anchor", "middle")
            .attr("transform", function (d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function (d) { return d.text; });
    }

</script>
<script>
    $(document).ready(function () {
        $('textarea').autosize();

        $(".toggleAnswerPackage").click(function() {
            $(".cusxpSingle").removeClass("ind-answer-package");
            $('#map' + $(this).attr('name')).addClass("ind-answer-package");
        });
        $(".toggleAnswerPackage").click(function() {
            //$(".cusxpSingle").removeClass("ind-answer-package");
        });
    });
    
</script>
