﻿@using cusxp.Models
@using cusxp.Controllers
@model List<CompanyVM>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DashboardList</title>
</head>
<body>
    <div>
        <ul>
            @foreach (var companyT in Model)
            {
                <li>
                    @Html.ActionLink(companyT.BrandName, "dashboardi", new { id = companyT.CompanyId });</li>
            }
        </ul>
    </div>
</body>
</html>
