﻿@using cusxp.Models
@using System.Web.Security;
@model Company
@{
    ViewBag.Title = "Test";
    Layout = "";
    var survey = ViewBag.Survey as string;
}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no" />

    <script type="text/javascript">
        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
        if (isAndroid) {
            var meta = document.createElement('meta');
            meta.name = "viewport";
            meta.content = "width=640, target-densitydpi = device-dpi, user-scalable=0";
            document.getElementsByTagName('head')[0].appendChild(meta);
            // Do something!
            // Redirect to Android-site?
        }


    </script>




    @* <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />*@
    @*  <meta name="viewport" content="width=640px, initial-scale=.5, maximum-scale=.5" />*@

    @*, minimum-scale=1.0,  maximum-scale=1.0"*@
    <title>CusJo| Welcome</title>
    <link rel="stylesheet" href="@Href("~/Content/foundation.css")" />
    <link rel="stylesheet" href="@Href("~/Content/styles.css")" />
    @*    <link rel="stylesheet" href="@Href("~/Content/jquery.nouislider.css")" />*@
    <link rel="stylesheet" href="@Href("~/Content/jquery.fileupload.css")" />
    <script type="text/javascript" src="//use.typekit.net/glo0ptu.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    <script src="@Href("~/Scripts/jquery.js")"></script>

</head>
<body class="frontend">

    <div class="mobile-container clearfix">
        
        <div class="row survey-sections cusjo-header">
            <div class="small-12 columns text-center title">
                @if (survey != null)
                {
                    <a href="@Request.Url" id="backbuttona" style="display:none;">
                        <img id="backbutton" src="@Href("~/Content/img/back-icon.png")" class="back-icon left"/></a>
                }
                <div id="pageTop"></div>
                <a href="@Request.Url">Share Your Experience
                </a>
                <a href="#">

                    <img id="sign-in-link" src="@Href("~/Content/img/gear-icon.png")" class="gear-icon right"/>
                </a>
            </div>
        </div>
        @if (Model != null)
        {
            var locations = Model.Locations.ToList();
            <div id="survey-question-page" class="page">
                <div class="row survey-sections">
                    <div class="small-12 columns text-center">
                        @{ var firstLocation = locations.FirstOrDefault();}
                        <a href="#" data-dropdown="drop" class="choose-location dropdown large-font"><span id="title">@firstLocation.Name</span>@if (locations.Count > 1)
                                                                                                                                                {
                                                                                                                                                    <img src="@Href("~/Content/img/down-arrow.png")"/>
                                                                                                                                                }
                        </a>

                        <ul id="drop" data-dropdown-content class="large f-dropdown">
                            @foreach (var location in locations.Where(a => a.LocationId != firstLocation.LocationId))
                            {
                                <li><a href="#" class="location" name="@location.LocationId">@location.Name</a></li>
                            }
                        </ul>
                        <input id="locationId" type="hidden" value="@firstLocation.LocationId"/>
                    </div>
                </div>
                <div class="row survey-sections">
                    <div class="flip-container" id="flip-toggle">
                        <div class="flipper">
                            <div class="front" id="frontdiv">
                                <div class="small-12 columns text-center display-brand-image">
                                    <div style="display: inline-block; position: relative">
                                        <div class="info-icon-flippy flippy"></div>
                                        <img class="location-image" id="location-image" src="@Href("~/" + firstLocation.Image)" />
                                    </div>
                                </div>
                            </div>
                            <div class="back">

                                <div style="display: inline-block; position: relative">
                                    <img src="@Href("~/" + firstLocation.FlipImage)" />

                                    <div class="info-icon-flippy flippy"></div>
                                    <a class="click-map" target="_blank" href="@firstLocation.GoogleMapsAddress"></a>
                                    <a class="click-phone-number" href="tel:@firstLocation.PhoneNumber"></a>
                                    <a class="click-email" href="mailto:@firstLocation.EmailAddress"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row survey-sections" style="margin-top: 15.8rem">
                    <div class="small-12 columns text-center company-name">
                        <h1>@Model.BrandName</h1>
                    </div>

                </div>
            @*    <div class="row">
                    <div class="border-bottom"></div>
                </div>

                <div class="row survey-sections" style="padding-top: 0px">
                    <div class="small-12 columns text-center appreciation">
                        <h3>Appreciation</h3>
                        <div class="appreciation-voucher">
                            <img src="@Href("~/" + Model.Appreciation.Image)" class="rounded-corner" />
                            <div class="appreciation-voucher-content">

                                <div class="appreciation-voucher-title"><span class="small-font">@Model.Appreciation.Title</span></div>
                               
                                <a href="@Url.Action("Tnc", "Home", new { returnUrl = Request.Url })" class="app-tnc regular-font">Terms & Conditions</a>
                                <span class="expires regular-font">Expires: @Model.Appreciation.ExpirationDate.ToString("dd/MM/yyyy")</span>
                            </div>
                        </div>
                    </div>
                </div>*@
                

                <div class="row">
                    <div class="border-bottom"></div>
                </div>
                <div class="row survey-sections">
                    <div class="small-12 columns exp-questions">
                        <div class="question-label small-font">
                            @firstLocation.Form.Questions.SingleOrDefault(a => a.Position == 1).Description
                        </div>
                        <div id="answer-number-container" class="question-editor clearfix">

                            <ul class="small-block-grid-11 regular-font number-scale">
                                <li><span id="answer-number" class="answer-numbers">0</span></li>
                                <li><span class="answer-numbers">1</span></li>
                                <li><span class="answer-numbers">2</span></li>
                                <li><span class="answer-numbers">3</span></li>
                                <li><span class="answer-numbers">4</span></li>
                                <li><span class="answer-numbers">5</span></li>
                                <li><span class="answer-numbers">6</span></li>
                                <li><span class="answer-numbers">7</span></li>
                                <li><span class="answer-numbers">8</span></li>
                                <li><span class="answer-numbers">9</span></li>
                                <li><span class="answer-numbers">10</span></li>


                            </ul>
                            <script type="text/javascript">
                                function getOverallScore() {
                                    var retVal = 0;
                                    $(".answer-numbers").each(function (index) {
                                        if ($(this).hasClass("active")) {
                                            retVal = $(this).text();
                                        }
                                    });
                                    return retVal;
                                }

                                $(".answer-numbers").click(function () {
                                    $(".answer-numbers").removeClass("active");
                                    $(this).addClass("active");
                                });

                                var space = $("#answer-number-container").width() - (11 * ($("#answer-number").width()));
                                var offset = space / 11;
                            </script>

                            <div class="slider-label-labels regular-font">
                                <span>lowest</span>
                                <span class="right" id="highest">highest</span>
                            </div>
                            <script>

                                function doOnOrientationChange() {
                                    $("#highest").css("padding-right", offset + "px");
                                    //if ($('#thankyou-page').is(':visible')) {
                                    //    modifyfooter();
                                    //}
                                }

                                window.addEventListener('orientationchange', doOnOrientationChange);

                                // Initial execution if needed
                                doOnOrientationChange();

                            </script>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="border-bottom"></div>
                </div>
                <div class="row survey-sections">
                    <div class="small-12 columns exp-questions">
                        <div class="question-label small-font">
                            @firstLocation.Form.Questions.SingleOrDefault(a => a.Position == 2).Description
                        </div>
                        <div class="question-editor clearfix">
                            <textarea id="q2a" type="text" name="q2a"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="border-bottom"></div>
                </div>
                <div class="row survey-sections mcq">
                    <div class="small-12 columns exp-questions">
                        <div class="question-label small-font">
                            @firstLocation.Form.Questions.SingleOrDefault(a => a.Position == 3).Description
                        </div>
                        <div class="question-editor clearfix">
                            <textarea type="text" id="q3a" name="q3a"></textarea>
                        </div>
                        <div class="choose-experience-area">
                            <div class="exp-area-label regular-font">
                                The above experience refers to:
                            </div>
                            <div class="row">
                                <div class="exp-area-choice-container small-12 columns">
                                    <ul class="small-block-grid-3 small-font" id="q3" name="q3">
                                        <li><span class="toggleOnClick exp-area-choices has-tip tip-top arrowleft" data-tooltip data-options="disable_for_touch:true" title="Were the people you interacted with professional, personable & problem solving?">People</span></li>
                                        <li><span class="toggleOnClick exp-area-choices has-tip tip-top arrowcenter" data-tooltip data-options="disable_for_touch:true" title="Did the product work as promised and ultimately meet your needs?">Product</span></li>
                                        <li><span class="toggleOnClick exp-area-choices has-tip tip-top arrowright" data-tooltip data-options="disable_for_touch:true" title="Were their processes clear, relevant and efficient?">Process</span></li>
                                        <li><span class="toggleOnClick exp-area-choices has-tip tip-top arrowleft" data-tooltip data-options="disable_for_touch:true" title="Was the venue inviting, aesthetically appealing and comfortable to be in?">Venue</span></li>
                                        <li><span class="toggleOnClick exp-area-choices has-tip tip-top arrowcenter" data-tooltip data-options="disable_for_touch:true" title="For you to tag anything else that was important to you?">Others</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="border-bottom"></div>
                </div>
                <div class="row survey-sections mcq">
                    <div class="small-12 columns exp-questions">
                        <div class="question-label small-font">
                            <div style="line-height:150%; margin-top:-10px">@firstLocation.Form.Questions.SingleOrDefault(a => a.Position == 5).Description </div> 
                        </div>
                        <div class="question-editor clearfix">
                            <textarea type="text" id="q5a" name="q5a"></textarea>
                        </div>
                        <div class="choose-experience-area">
                            <div class="exp-area-label regular-font">
                                The above experience refers to:
                            </div>
                            <div class="exp-area-choice-container">
                                <ul class="small-block-grid-3 small-font" id="q5" name="q5">
                                    <li><span class="toggleOnClick exp-area-choices has-tip tip-top arrowleft" data-tooltip data-options="disable_for_touch:true" title="Were the people you interacted with professional, personable & problem solving?">People</span></li>
                                    <li><span class="toggleOnClick exp-area-choices has-tip tip-top arrowcenter" data-tooltip data-options="disable_for_touch:true" title="Did the product work as promised and ultimately meet your needs?">Product</span></li>
                                    <li><span class="toggleOnClick exp-area-choices has-tip tip-top arrowright" data-tooltip data-options="disable_for_touch:true" title="Were their processes clear, relevant and efficient?">Process</span></li>
                                    <li><span class="toggleOnClick exp-area-choices has-tip tip-top arrowleft" data-tooltip data-options="disable_for_touch:true" title="Was the venue inviting, aesthetically appealing and comfortable to be in?">Venue</span></li>
                                    <li><span class="toggleOnClick exp-area-choices has-tip tip-top arrowcenter" data-tooltip data-options="disable_for_touch:true" title="For you to tag anything else that was important to you?">Others</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="border-bottom"></div>
                </div>
                <div class="row survey-sections">
                    <div class="small-12 columns exp-questions text-center exp-camera">
                        <div class="question-label small-font" style="text-align: left; margin-bottom:2.667rem!important">
                            Would you like to attach anything?
                        </div>

                        <div id="cameraIcon">


                            <input id="fileupload" type="file" name="file" data-url="@Href("~/Home/ImageUpload")" single style="position: absolute; height: 5.6rem; width: 5.6rem">
                            <input type="hidden" id="image" value="" />
                            <div class="camera-icon">

                                <img src="@Href("~/Content/img/Attachment.png")"/>
                            </div>
                            <br />
                            <br />
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                        </div>
                        <div id="thumbNailDiv">
                            <div>
                                <img id="thumbNail" class="camera-upload-thumbnail rounded-corner" />
                                <span id="thumbNailFileName"></span>
                                <br />
                                <br />
                                <a href="#" id="thumbNailClear">Clear</a><br />
                                <br />
                            </div>
                        </div>
                        <div class="question-editor clearfix">
                            <textarea type="text" id="imageDescription"></textarea>
                        </div>

                    </div>

                    <div class="small-12 columns exp-questions text-center exp-camera">


                        <div id="cameraIcon2">


                            <input id="fileupload2" type="file" name="file" data-url="@Href("~/Home/ImageUpload")" single style="position: absolute; height: 5.5rem; width: 5.5rem">
                            <input type="hidden" id="image2" value="" />
                            <div class="camera-icon">

                                <img src="@Href("~/Content/img/Attachment.png")"/>
                            </div>
                            <br />
                            <br />
                            <div id="progress2" class="progress2">
                                <div class="progress-bar2 progress-bar-success"></div>
                            </div>
                        </div>
                        <div id="thumbNailDiv2">
                            <div>
                                <img id="thumbNail2" class="camera-upload-thumbnail rounded-corner" />
                                <span id="thumbNailFileName2"></span>
                                <br />
                                <br />
                                <a href="#" id="thumbNailClear2">Clear</a><br />
                                <br />
                            </div>
                        </div>
                        <div class="question-editor clearfix">
                            <textarea type="text" id="imageDescription2"></textarea>
                        </div>
                    </div>
                    <div class="small-12 columns exp-questions text-center exp-camera">
                        <div id="cameraIcon3">
                            <input id="fileupload3" type="file" name="file" data-url="@Href("~/Home/ImageUpload")" single style="position: absolute; height: 5.5rem; width: 5.5rem">
                            <input type="hidden" id="image3" value="" />
                            <div class="camera-icon3">

                                <img src="@Href("~/Content/img/Attachment.png")"/>
                            </div>
                            <br />
                            <br />
                            <div id="progress3" class="progress3">
                                <div class="progress-bar3 progress-bar-success"></div>
                            </div>
                        </div>
                        <div id="thumbNailDiv3">
                            <div>
                                <img id="thumbNail3" class="camera-upload-thumbnail rounded-corner" />
                                <span id="thumbNailFileName3"></span>
                                <br />
                                <br />
                                <a href="#" id="thumbNailClear3">Clear</a><br />
                                <br />
                            </div>
                        </div>
                        <div class="question-editor clearfix">
                            <textarea type="text" id="imageDescription3"></textarea>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="border-bottom"></div>
                </div>


                <div class="row survey-sections" id="page1complete">
                    <div class="small-12 columns exp-questions text-center">
                        <input class="submit-button-hack" type="checkbox" id="submit-button-hack">
                        <label class="large-font rounded-corner submit-button" for="submit-button-hack">Share Your Experience</label>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>
            <div id="post-survey-questionnaire" style="display: none" class="page">
                <div class="row survey-sections">
                    <div class="small-12 columns text-center">

                        <p class="greycolor small-font">
                            Please fill in your real details.
                            <br />
                            <br />
                            We will need them to contact you!
                        </p>
                    </div>
                </div>
                <div class="row survey-sections">
                    <div class="small-12 columns">
                        <div class="question-label">
                            <h3>Given Name</h3>
                        </div>
                        <div class="question-editor clearfix">
                            <input type="text" id="givenname" class="page2Input" />
                        </div>

                    </div>
                </div>
                <div class="row survey-sections">
                    <div class="small-12 columns">
                        <div class="question-label">
                            <h3>Surname</h3>
                        </div>
                        <div class="question-editor clearfix">
                            <input type="text" id="surname" class="page2Input" />
                        </div>

                    </div>
                </div>
                <div class="row survey-sections">
                    <div class="small-12 columns">
                        <div class="question-label">
                            <h3>Email</h3>
                        </div>
                        <div class="question-editor clearfix">
                            <input type="text" id="email" class="page2Input" /><small id="emailerror" class="error">Email is required</small>
                        </div>
                    </div>
                </div>
                <div class="row survey-sections">
                    <div class="small-12 columns">
                        <div class="question-label">
                            <h3>Country</h3>
                        </div>
                        <div class="question-editor clearfix">

                            <select name="countryCode" id="countryCode">
                                <option value="207" label="Singapore (+65)" selected="selected">Singapore (+65)</option>
                                <option value="1" label="Canada (+1)">Canada (+1)</option>
                                <option value="2" label="China (+86)">China (+86)</option>
                                <option value="3" label="France (+33)">France (+33)</option>
                                <option value="4" label="Germany (+49)">Germany (+49)</option>
                                <option value="5" label="India (+91)">India (+91)</option>
                                <option value="6" label="Japan (+81)">Japan (+81)</option>
                                <option value="7" label="Pakistan (+92)">Pakistan (+92)</option>
                                <option value="8" label="United Kingdom (+44)">United Kingdom (+44)</option>
                                <option value="9" label="United States (+1)">United States (+1)</option>
                                <option value="10" label="--">--</option>
                                <option value="11" label="Abkhazia (+7 840)">Abkhazia (+7 840)</option>
                                <option value="12" label="Abkhazia (+7 940)">Abkhazia (+7 940)</option>
                                <option value="13" label="Afghanistan (+93)">Afghanistan (+93)</option>
                                <option value="14" label="Albania (+355)">Albania (+355)</option>
                                <option value="15" label="Algeria (+213)">Algeria (+213)</option>
                                <option value="16" label="American Samoa (+1 684)">American Samoa (+1 684)</option>
                                <option value="17" label="Andorra (+376)">Andorra (+376)</option>
                                <option value="18" label="Angola (+244)">Angola (+244)</option>
                                <option value="19" label="Anguilla (+1 264)">Anguilla (+1 264)</option>
                                <option value="20" label="Antigua and Barbuda (+1 268)">Antigua and Barbuda (+1 268)</option>
                                <option value="21" label="Argentina (+54)">Argentina (+54)</option>
                                <option value="22" label="Armenia (+374)">Armenia (+374)</option>
                                <option value="23" label="Aruba (+297)">Aruba (+297)</option>
                                <option value="24" label="Ascension (+247)">Ascension (+247)</option>
                                <option value="25" label="Australia (+61)">Australia (+61)</option>
                                <option value="26" label="Australian External Territories (+672)">Australian External Territories (+672)</option>
                                <option value="27" label="Austria (+43)">Austria (+43)</option>
                                <option value="28" label="Azerbaijan (+994)">Azerbaijan (+994)</option>
                                <option value="29" label="Bahamas (+1 242)">Bahamas (+1 242)</option>
                                <option value="30" label="Bahrain (+973)">Bahrain (+973)</option>
                                <option value="31" label="Bangladesh (+880)">Bangladesh (+880)</option>
                                <option value="32" label="Barbados (+1 246)">Barbados (+1 246)</option>
                                <option value="33" label="Barbuda (+1 268)">Barbuda (+1 268)</option>
                                <option value="34" label="Belarus (+375)">Belarus (+375)</option>
                                <option value="35" label="Belgium (+32)">Belgium (+32)</option>
                                <option value="36" label="Belize (+501)">Belize (+501)</option>
                                <option value="37" label="Benin (+229)">Benin (+229)</option>
                                <option value="38" label="Bermuda (+1 441)">Bermuda (+1 441)</option>
                                <option value="39" label="Bhutan (+975)">Bhutan (+975)</option>
                                <option value="40" label="Bolivia (+591)">Bolivia (+591)</option>
                                <option value="41" label="Bosnia and Herzegovina (+387)">Bosnia and Herzegovina (+387)</option>
                                <option value="42" label="Botswana (+267)">Botswana (+267)</option>
                                <option value="43" label="Brazil (+55)">Brazil (+55)</option>
                                <option value="44" label="British Indian Ocean Territory (+246)">British Indian Ocean Territory (+246)</option>
                                <option value="45" label="British Virgin Islands (+1 284)">British Virgin Islands (+1 284)</option>
                                <option value="46" label="Brunei (+673)">Brunei (+673)</option>
                                <option value="47" label="Bulgaria (+359)">Bulgaria (+359)</option>
                                <option value="48" label="Burkina Faso (+226)">Burkina Faso (+226)</option>
                                <option value="49" label="Burundi (+257)">Burundi (+257)</option>
                                <option value="50" label="Cambodia (+855)">Cambodia (+855)</option>
                                <option value="51" label="Cameroon (+237)">Cameroon (+237)</option>
                                <option value="52" label="Canada (+1)">Canada (+1)</option>
                                <option value="53" label="Cape Verde (+238)">Cape Verde (+238)</option>
                                <option value="54" label="Cayman Islands (+ 345)">Cayman Islands (+ 345)</option>
                                <option value="55" label="Central African Republic (+236)">Central African Republic (+236)</option>
                                <option value="56" label="Chad (+235)">Chad (+235)</option>
                                <option value="57" label="Chile (+56)">Chile (+56)</option>
                                <option value="58" label="China (+86)">China (+86)</option>
                                <option value="59" label="Christmas Island (+61)">Christmas Island (+61)</option>
                                <option value="60" label="Cocos-Keeling Islands (+61)">Cocos-Keeling Islands (+61)</option>
                                <option value="61" label="Colombia (+57)">Colombia (+57)</option>
                                <option value="62" label="Comoros (+269)">Comoros (+269)</option>
                                <option value="63" label="Congo (+242)">Congo (+242)</option>
                                <option value="64" label="Congo, Dem. Rep. of (Zaire) (+243)">Congo, Dem. Rep. of (Zaire) (+243)</option>
                                <option value="65" label="Cook Islands (+682)">Cook Islands (+682)</option>
                                <option value="66" label="Costa Rica (+506)">Costa Rica (+506)</option>
                                <option value="67" label="Ivory Coast (+225)">Ivory Coast (+225)</option>
                                <option value="68" label="Croatia (+385)">Croatia (+385)</option>
                                <option value="69" label="Cuba (+53)">Cuba (+53)</option>
                                <option value="70" label="Curacao (+599)">Curacao (+599)</option>
                                <option value="71" label="Cyprus (+537)">Cyprus (+537)</option>
                                <option value="72" label="Czech Republic (+420)">Czech Republic (+420)</option>
                                <option value="73" label="Denmark (+45)">Denmark (+45)</option>
                                <option value="74" label="Diego Garcia (+246)">Diego Garcia (+246)</option>
                                <option value="75" label="Djibouti (+253)">Djibouti (+253)</option>
                                <option value="76" label="Dominica (+1 767)">Dominica (+1 767)</option>
                                <option value="77" label="Dominican Republic (+1 809)">Dominican Republic (+1 809)</option>
                                <option value="78" label="Dominican Republic (+1 829)">Dominican Republic (+1 829)</option>
                                <option value="79" label="Dominican Republic (+1 849)">Dominican Republic (+1 849)</option>
                                <option value="80" label="East Timor (+670)">East Timor (+670)</option>
                                <option value="81" label="Easter Island (+56)">Easter Island (+56)</option>
                                <option value="82" label="Ecuador (+593)">Ecuador (+593)</option>
                                <option value="83" label="Egypt (+20)">Egypt (+20)</option>
                                <option value="84" label="El Salvador (+503)">El Salvador (+503)</option>
                                <option value="85" label="Equatorial Guinea (+240)">Equatorial Guinea (+240)</option>
                                <option value="86" label="Eritrea (+291)">Eritrea (+291)</option>
                                <option value="87" label="Estonia (+372)">Estonia (+372)</option>
                                <option value="88" label="Ethiopia (+251)">Ethiopia (+251)</option>
                                <option value="89" label="Falkland Islands (+500)">Falkland Islands (+500)</option>
                                <option value="90" label="Faroe Islands (+298)">Faroe Islands (+298)</option>
                                <option value="91" label="Fiji (+679)">Fiji (+679)</option>
                                <option value="92" label="Finland (+358)">Finland (+358)</option>
                                <option value="93" label="France (+33)">France (+33)</option>
                                <option value="94" label="French Antilles (+596)">French Antilles (+596)</option>
                                <option value="95" label="French Guiana (+594)">French Guiana (+594)</option>
                                <option value="96" label="French Polynesia (+689)">French Polynesia (+689)</option>
                                <option value="97" label="Gabon (+241)">Gabon (+241)</option>
                                <option value="98" label="Gambia (+220)">Gambia (+220)</option>
                                <option value="99" label="Georgia (+995)">Georgia (+995)</option>
                                <option value="100" label="Germany (+49)">Germany (+49)</option>
                                <option value="101" label="Ghana (+233)">Ghana (+233)</option>
                                <option value="102" label="Gibraltar (+350)">Gibraltar (+350)</option>
                                <option value="103" label="Greece (+30)">Greece (+30)</option>
                                <option value="104" label="Greenland (+299)">Greenland (+299)</option>
                                <option value="105" label="Grenada (+1 473)">Grenada (+1 473)</option>
                                <option value="106" label="Guadeloupe (+590)">Guadeloupe (+590)</option>
                                <option value="107" label="Guam (+1 671)">Guam (+1 671)</option>
                                <option value="108" label="Guatemala (+502)">Guatemala (+502)</option>
                                <option value="109" label="Guinea (+224)">Guinea (+224)</option>
                                <option value="110" label="Guinea-Bissau (+245)">Guinea-Bissau (+245)</option>
                                <option value="111" label="Guyana (+595)">Guyana (+595)</option>
                                <option value="112" label="Haiti (+509)">Haiti (+509)</option>
                                <option value="113" label="Honduras (+504)">Honduras (+504)</option>
                                <option value="114" label="Hong Kong SAR China (+852)">Hong Kong SAR China (+852)</option>
                                <option value="115" label="Hungary (+36)">Hungary (+36)</option>
                                <option value="116" label="Iceland (+354)">Iceland (+354)</option>
                                <option value="117" label="India (+91)">India (+91)</option>
                                <option value="118" label="Indonesia (+62)">Indonesia (+62)</option>
                                <option value="119" label="Iran (+98)">Iran (+98)</option>
                                <option value="120" label="Iraq (+964)">Iraq (+964)</option>
                                <option value="121" label="Ireland (+353)">Ireland (+353)</option>
                                <option value="122" label="Israel (+972)">Israel (+972)</option>
                                <option value="123" label="Italy (+39)">Italy (+39)</option>
                                <option value="124" label="Jamaica (+1 876)">Jamaica (+1 876)</option>
                                <option value="125" label="Japan (+81)">Japan (+81)</option>
                                <option value="126" label="Jordan (+962)">Jordan (+962)</option>
                                <option value="127" label="Kazakhstan (+7 7)">Kazakhstan (+7 7)</option>
                                <option value="128" label="Kenya (+254)">Kenya (+254)</option>
                                <option value="129" label="Kiribati (+686)">Kiribati (+686)</option>
                                <option value="130" label="North Korea (+850)">North Korea (+850)</option>
                                <option value="131" label="South Korea (+82)">South Korea (+82)</option>
                                <option value="132" label="Kuwait (+965)">Kuwait (+965)</option>
                                <option value="133" label="Kyrgyzstan (+996)">Kyrgyzstan (+996)</option>
                                <option value="134" label="Laos (+856)">Laos (+856)</option>
                                <option value="135" label="Latvia (+371)">Latvia (+371)</option>
                                <option value="136" label="Lebanon (+961)">Lebanon (+961)</option>
                                <option value="137" label="Lesotho (+266)">Lesotho (+266)</option>
                                <option value="138" label="Liberia (+231)">Liberia (+231)</option>
                                <option value="139" label="Libya (+218)">Libya (+218)</option>
                                <option value="140" label="Liechtenstein (+423)">Liechtenstein (+423)</option>
                                <option value="141" label="Lithuania (+370)">Lithuania (+370)</option>
                                <option value="142" label="Luxembourg (+352)">Luxembourg (+352)</option>
                                <option value="143" label="Macau SAR China (+853)">Macau SAR China (+853)</option>
                                <option value="144" label="Macedonia (+389)">Macedonia (+389)</option>
                                <option value="145" label="Madagascar (+261)">Madagascar (+261)</option>
                                <option value="146" label="Malawi (+265)">Malawi (+265)</option>
                                <option value="147" label="Malaysia (+60)">Malaysia (+60)</option>
                                <option value="148" label="Maldives (+960)">Maldives (+960)</option>
                                <option value="149" label="Mali (+223)">Mali (+223)</option>
                                <option value="150" label="Malta (+356)">Malta (+356)</option>
                                <option value="151" label="Marshall Islands (+692)">Marshall Islands (+692)</option>
                                <option value="152" label="Martinique (+596)">Martinique (+596)</option>
                                <option value="153" label="Mauritania (+222)">Mauritania (+222)</option>
                                <option value="154" label="Mauritius (+230)">Mauritius (+230)</option>
                                <option value="155" label="Mayotte (+262)">Mayotte (+262)</option>
                                <option value="156" label="Mexico (+52)">Mexico (+52)</option>
                                <option value="157" label="Micronesia (+691)">Micronesia (+691)</option>
                                <option value="158" label="Midway Island (+1 808)">Midway Island (+1 808)</option>
                                <option value="159" label="Micronesia (+691)">Micronesia (+691)</option>
                                <option value="160" label="Moldova (+373)">Moldova (+373)</option>
                                <option value="161" label="Monaco (+377)">Monaco (+377)</option>
                                <option value="162" label="Mongolia (+976)">Mongolia (+976)</option>
                                <option value="163" label="Montenegro (+382)">Montenegro (+382)</option>
                                <option value="164" label="Montserrat (+1664)">Montserrat (+1664)</option>
                                <option value="165" label="Morocco (+212)">Morocco (+212)</option>
                                <option value="166" label="Myanmar (+95)">Myanmar (+95)</option>
                                <option value="167" label="Namibia (+264)">Namibia (+264)</option>
                                <option value="168" label="Nauru (+674)">Nauru (+674)</option>
                                <option value="169" label="Nepal (+977)">Nepal (+977)</option>
                                <option value="170" label="Netherlands (+31)">Netherlands (+31)</option>
                                <option value="171" label="Netherlands Antilles (+599)">Netherlands Antilles (+599)</option>
                                <option value="172" label="Nevis (+1 869)">Nevis (+1 869)</option>
                                <option value="173" label="New Caledonia (+687)">New Caledonia (+687)</option>
                                <option value="174" label="New Zealand (64)">New Zealand (64)</option>
                                <option value="175" label="Nicaragua (+505)">Nicaragua (+505)</option>
                                <option value="176" label="Niger (+227)">Niger (+227)</option>
                                <option value="177" label="Nigeria (+234)">Nigeria (+234)</option>
                                <option value="178" label="Niue (+683)">Niue (+683)</option>
                                <option value="179" label="Norfolk Island (+672)">Norfolk Island (+672)</option>
                                <option value="180" label="Northern Mariana Islands (+1 670)">Northern Mariana Islands (+1 670)</option>
                                <option value="181" label="Norway (+47)">Norway (+47)</option>
                                <option value="182" label="Oman (+968)">Oman (+968)</option>
                                <option value="183" label="Pakistan (+92)">Pakistan (+92)</option>
                                <option value="184" label="Palau (+680)">Palau (+680)</option>
                                <option value="185" label="Palestinian Territory (+970)">Palestinian Territory (+970)</option>
                                <option value="186" label="Panama (+507)">Panama (+507)</option>
                                <option value="187" label="Papua New Guinea (+675)">Papua New Guinea (+675)</option>
                                <option value="188" label="Paraguay (+595)">Paraguay (+595)</option>
                                <option value="189" label="Peru (+51)">Peru (+51)</option>
                                <option value="190" label="Philippines (+63)">Philippines (+63)</option>
                                <option value="191" label="Poland (+48)">Poland (+48)</option>
                                <option value="192" label="Portugal (+351)">Portugal (+351)</option>
                                <option value="193" label="Puerto Rico (+1 787)">Puerto Rico (+1 787)</option>
                                <option value="194" label="Puerto Rico (+1 939)">Puerto Rico (+1 939)</option>
                                <option value="195" label="Qatar (+974)">Qatar (+974)</option>
                                <option value="196" label="Reunion (+262)">Reunion (+262)</option>
                                <option value="197" label="Romania (+40)">Romania (+40)</option>
                                <option value="198" label="Russia (+7)">Russia (+7)</option>
                                <option value="199" label="Rwanda (+250)">Rwanda (+250)</option>
                                <option value="200" label="Samoa (+685)">Samoa (+685)</option>
                                <option value="201" label="San Marino (+378)">San Marino (+378)</option>
                                <option value="202" label="Saudi Arabia (+966)">Saudi Arabia (+966)</option>
                                <option value="203" label="Senegal (+221)">Senegal (+221)</option>
                                <option value="204" label="Serbia (+381)">Serbia (+381)</option>
                                <option value="205" label="Seychelles (+248)">Seychelles (+248)</option>
                                <option value="206" label="Sierra Leone (+232)">Sierra Leone (+232)</option>
                                
                                <option value="208" label="Slovakia (+421)">Slovakia (+421)</option>
                                <option value="209" label="Slovenia (+386)">Slovenia (+386)</option>
                                <option value="210" label="Solomon Islands (+677)">Solomon Islands (+677)</option>
                                <option value="211" label="South Africa (+27)">South Africa (+27)</option>
                                <option value="212" label="South Georgia and the South Sandwich Islands (+500)">South Georgia and the South Sandwich Islands (+500)</option>
                                <option value="213" label="Spain (+34)">Spain (+34)</option>
                                <option value="214" label="Sri Lanka (+94)">Sri Lanka (+94)</option>
                                <option value="215" label="Sudan (+249)">Sudan (+249)</option>
                                <option value="216" label="Suriname (+597)">Suriname (+597)</option>
                                <option value="217" label="Swaziland (+268)">Swaziland (+268)</option>
                                <option value="218" label="Sweden (+46)">Sweden (+46)</option>
                                <option value="219" label="Switzerland (+41)">Switzerland (+41)</option>
                                <option value="220" label="Syria (+963)">Syria (+963)</option>
                                <option value="221" label="Taiwan (+886)">Taiwan (+886)</option>
                                <option value="222" label="Tajikistan (+992)">Tajikistan (+992)</option>
                                <option value="223" label="Tanzania (+255)">Tanzania (+255)</option>
                                <option value="224" label="Thailand (+66)">Thailand (+66)</option>
                                <option value="225" label="Timor Leste (+670)">Timor Leste (+670)</option>
                                <option value="226" label="Togo (+228)">Togo (+228)</option>
                                <option value="227" label="Tokelau (+690)">Tokelau (+690)</option>
                                <option value="228" label="Tonga (+676)">Tonga (+676)</option>
                                <option value="229" label="Trinidad and Tobago (+1 868)">Trinidad and Tobago (+1 868)</option>
                                <option value="230" label="Tunisia (+216)">Tunisia (+216)</option>
                                <option value="231" label="Turkey (+90)">Turkey (+90)</option>
                                <option value="232" label="Turkmenistan (+993)">Turkmenistan (+993)</option>
                                <option value="233" label="Turks and Caicos Islands (+1 649)">Turks and Caicos Islands (+1 649)</option>
                                <option value="234" label="Tuvalu (+688)">Tuvalu (+688)</option>
                                <option value="235" label="Uganda (+256)">Uganda (+256)</option>
                                <option value="236" label="Ukraine (+380)">Ukraine (+380)</option>
                                <option value="237" label="United Arab Emirates (+971)">United Arab Emirates (+971)</option>
                                <option value="238" label="United Kingdom (+44)">United Kingdom (+44)</option>
                                <option value="239" label="United States (+1)">United States (+1)</option>
                                <option value="240" label="Uruguay (+598)">Uruguay (+598)</option>
                                <option value="241" label="U.S. Virgin Islands (+1 340)">U.S. Virgin Islands (+1 340)</option>
                                <option value="242" label="Uzbekistan (+998)">Uzbekistan (+998)</option>
                                <option value="243" label="Vanuatu (+678)">Vanuatu (+678)</option>
                                <option value="244" label="Venezuela (+58)">Venezuela (+58)</option>
                                <option value="245" label="Vietnam (+84)">Vietnam (+84)</option>
                                <option value="246" label="Wake Island (+1 808)">Wake Island (+1 808)</option>
                                <option value="247" label="Wallis and Futuna (+681)">Wallis and Futuna (+681)</option>
                                <option value="248" label="Yemen (+967)">Yemen (+967)</option>
                                <option value="249" label="Zambia (+260)">Zambia (+260)</option>
                                <option value="250" label="Zanzibar (+255)">Zanzibar (+255)</option>
                                <option value="251" label="Zimbabwe (+263)">Zimbabwe (+263)</option>
                            </select>



                        </div>
                    </div>
                </div>
                <div class="row survey-sections">
                    <div class="small-12 columns">
                        <div class="question-label">
                            <h3>Contact</h3>
                        </div>
                        <div class="question-editor clearfix">
                            <input type="text" id="contactnumber" class="page2Input" /><small id="contactnumbererror" class="error">Contact Number is required</small>
                        </div>
                    </div>
                </div>
                <div class="row survey-sections" id="page2complete">
                    <div class="small-12 columns exp-questions text-center">
                        <input class="submit-button-hack" type="checkbox" id="submit-button-hack2">
                        <label class="large-font rounded-corner submit-button" for="submit-button-hack2">Submit</label>
                    </div>
                    <div class="small-12 columns" style="margin-top: 1rem">
                        <span class="50grey little-font" style="margin-top: 1.5rem">By participating in this survey, you agree and consent to @Model.BrandName, as well as its authorised service providers and relevant third parties, collecting, using, disclosing and sharing amongst themselves your personal data, including disclosing such personal data to @Model.BrandName for purposes as may be reasonably required by @Model.BrandName to administer this survey.
                        </span>
                    </div>

                </div>
                <a href="#pageTop" id="pageTopLink"></a>
                @*<div class="row survey-sections" id="page2Disagree">
                <div class="small-12 columns exp-questions text-center">
                    <input class="submit-button-hack" type="checkbox" id="submit-button-hack2">
                    <label class="large-font rounded-corner submit-button" for="submit-button-hack2">No, Thanks!</label>
                </div>
                <div class="small-12 columns" style="margin-top: 1rem">
                    <span class="50grey little-font" style="margin-top: 1.5rem">I don't want to enter my information at this moment.
                    </span>
                </div>

            </div>*@

                <div class="clearfix"></div>
            </div>
            <div id="thankyou-page" style="display: none" class="page">
                <div class="row bottompad">
                    <div class="small-12 columns text-center">
                        <span class="thankyou-title">Thank you</span>
                    </div>
                    <div class="small-12 columns text-center">

                        <p class="small-font">
                            <br />
                            for sharing your experience.
                        </p>

                        <br />
                        @*<p class="small-font">Your appreciation is being sent to your email.</p>*@

                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $(".location").click(function () {
                        @{ var locationsCounter = 0;
                            var locationsLoop = locations.Where(a => a.LocationId != firstLocation.LocationId);}
                        var locations = {
                            @foreach (var location in locationsLoop)
                            {
                                            
                                @Html.Raw(string.Format(@"{0} : ""{1}""{2}", location.LocationId, Href("~/" + location.Image), locationsCounter == locationsLoop.Count() - 1 ? "" : ","))
                                locationsCounter++;
                            }
                        };
                        var oldTitle = $("#title").text();
                        $("#title").text($(this).text());
                        var oldLocationId = $("#locationId").val();
                        $("#locationId").val($(this).attr("name"));
                        $("#title").click();
                        $("#location-image").attr("src", locations[$(this).attr("name")]);
                        $(this).attr("name", oldLocationId);
                        $(this).text(oldTitle);
                        return false;
                    });
                });
            </script>
        }
        <div id="sign-in-page" class="page">
            <div class="row survey-sections">
                <div class="small-12 columns text-center">
                    <img src="@Href("~/Content/img/CusJo-Logo.png")" style="height: 6rem; padding-top:1rem" />
                </div>
            </div>
            <div class="row survey-sections" style="padding-bottom:1.25rem">
                <div class="small-12 columns">
                    <div class="question-label" style="margin-bottom: 1.25rem;">
                        <h3>Username</h3>
                    </div>
                    <div class="question-editor clearfix">
                        <input class="signininput" id="username" type="text" />
                    </div>

                </div>
            </div>
            <div class="row survey-sections" style="padding-bottom:1.25rem">
                <div class="small-12 columns">
                    <div class="question-label" style="margin-bottom: 1.25rem;">
                        <h3>Password</h3>
                    </div>
                    <div class="question-editor clearfix">
                        <input class="signininput" id="password" type="password" />
                    </div>
                    @*<p>
                        <a class="regular-font" href="#" style="padding-top: 1rem; display: block">Forgot your password</a>
                    </p>*@

                </div>
                <div id="submitLogin">
                    <div class="small-12 columns exp-questions text-center">
                        <input class="submit-button-hack" type="checkbox" id="submit-button-hack3">
                        <label class="large-font rounded-corner submit-button" for="submit-button-hack3">Log In</label>
                    </div>

                </div>


                <div class="clearfix"></div>

            </div>

        </div>


           
        <div class="clearfix"></div>
    
        <div class="row survey-sections footer" id="footer">
            <div class="small-6 columns">
                <a href="http://www.cusjo.com" target="_blank">
                    <img src="@Href("~/Content/img/CusJo-Logo.png")" class="footer-logo-img left"/>
                </a>
            </div>
            <div class="small-6 columns">
                @*<span class="footer-link large-font">CusJo</span>*@
                <a href="http://www.cusjo.com" target="_blank" class="right">
                    <span style="display: block" class="footer-link small-font greycolor">www.CusJo.com</span> </a>
                <span style="display: block; left; padding-top: 10px;" class="little-font 50grey right">&#169; 2014 CusJo - All Rights Reserved

                </span>

            </div>

            <div class="small-12 columns text-center">
            </div>

        </div>
        <input type="hidden" value="0" id="answerPackageId" />
    </div>
    <div id="myModal" class="reveal-modal" data-reveal>
        <p class="lead">
            A file is currently being uploaded. Please wait until upload is complete.
            
             <a class="close-reveal-modal"></a>

        </p>
    </div>
    @if (Roles.IsUserInRole("Administrator"))
    {
        <div class="adminborder"></div>
    }

    <!-- Mobile -->

    <script src="@Href("~/Scripts/foundation.min.js")"></script>
    @*<script src="@Href("~/Scripts/jquery.nouislider.js")"></script>*@

    <script src="@Href("~/Scripts/jquery.ui.widget.js")"></script>
    <script src="@Href("~/Scripts/jquery.iframe-transport.js")"></script>
    <script src="@Href("~/Scripts/jquery.fileupload.js")"></script>
    <script src="@Href("~/Scripts/modernizr.js")"></script>
    <script src="@Href("~/Content/jquery.autosize.js")"></script>
    <script src="@Href("~/Scripts/foundation/foundation.tooltip.js")"></script>

    <script>
        $(document).foundation();
    </script>
    <script>
        function toggleCard() {
            document.querySelector('#flip-toggle').classList.toggle('flip');
        }
        $(".flippy").click(function () {
            toggleCard();
            //    $(".flipper").removeAttr('style');
            //    setTimeout('$(".flipper").css({"-webkit-transform": "rotateY(180deg)","-moz-transform": "rotateY(180deg)","-o-transform": "rotateY(180deg)","transform": "rotateY(180deg)"});', 800);
        });
    </script>

    <script>
        var uploadProgress = false;
        var uploadProgress2 = false;
        var uploadProgress3 = false;
        $(function () {
            $("#thumbNailDiv").hide();
            $("#thumbNailDiv2").hide();
            $("#thumbNailDiv3").hide();
            $('#fileupload').fileupload({
                maxNumberOfFiles: 1,
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        if (file.type.toLowerCase().indexOf("image") == -1) {
                            $("#thumbNailFileName").text(file.thumbnailUrl);
                            $("#thumbNailFileName").show();
                            $("#thumbNail").hide();
                        } else {
                            $("#thumbNail").attr("src", file.thumbnailUrl);
                            $("#thumbNail").show();
                            $("#thumbNailFileName").hide();
                        }
                        $('#image').val(file.url);
                        $("#cameraIcon").hide();
                        $("#thumbNailDiv").show();
                        uploadProgress = false;
                    });
                },
                progressall: function (e, data) {
                    uploadProgress = true;
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            });

            $('#fileupload2').fileupload({
                maxNumberOfFiles: 1,
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        if (file.type.toLowerCase().indexOf("image") == -1) {
                            $("#thumbNailFileName2").text(file.thumbnailUrl);
                            $("#thumbNailFileName2").show();
                            $("#thumbNail2").hide();
                        } else {
                            $("#thumbNail2").attr("src", file.thumbnailUrl);
                            $("#thumbNail2").show();
                            $("#thumbNailFileName2").hide();
                        }
                        $('#image2').val(file.url);
                        $("#cameraIcon2").hide();
                        $("#thumbNailDiv2").show();
                        uploadProgress2 = false;
                    });
                },
                progressall: function (e, data) {
                    uploadProgress2 = true;
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress2 .progress-bar2').css(
                        'width',
                        progress + '%'
                    );
                }
            });

            $('#fileupload3').fileupload({
                maxNumberOfFiles: 1,
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        if (file.type.toLowerCase().indexOf("image") == -1) {
                            $("#thumbNailFileName3").text(file.thumbnailUrl);
                            $("#thumbNailFileName3").show();
                            $("#thumbNail3").hide();
                        } else {
                            $("#thumbNail3").attr("src", file.thumbnailUrl);
                            $("#thumbNail3").show();
                            $("#thumbNailFileName3").hide();
                        }
                        $('#image3').val(file.url);
                        $("#cameraIcon3").hide();
                        $("#thumbNailDiv3").show();
                        uploadProgress3 = false;
                    });
                },
                progressall: function (e, data) {
                    uploadProgress3 = true;
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress3 .progress-bar3').css(
                        'width',
                        progress + '%'
                    );
                }
            });

            $("#thumbNailClear").click(function () {
                $("#thumbNailDiv").hide();
                $(".progress-bar").removeClass("progress-bar-success");
                $(".progress-bar").attr("style", "");
                $("#cameraIcon").show();
                $("#thumbNailFileName").text("");
                $('#image').val("");
                return false;
            });

            $("#thumbNailClear2").click(function () {
                $("#thumbNailDiv2").hide();
                $(".progress-bar2").removeClass("progress-bar-success");
                $(".progress-bar2").attr("style", "");
                $("#cameraIcon2").show();
                $("#thumbNailFileName2").text("");
                $('#image2').val("");
                return false;
            });

            $("#thumbNailClear3").click(function () {
                $("#thumbNailDiv3").hide();
                $(".progress-bar3").removeClass("progress-bar-success");
                $(".progress-bar3").attr("style", "");
                $("#cameraIcon3").show();
                $("#thumbNailFileName3").text("");
                $('#image3').val("");
                return false;
            });
            $(".toggleOnClick").click(function () {

                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                } else {
                    $(this).addClass("active");
                }
                //if (typeof $(this).parent().attr("checked") == "undefined" || $(this).parent().attr("checked") == null) {
                //    $(this).parent().attr("checked", "checked");
                //} else {
                //    $(this).parent().removeAttr("checked");
                //}
            });

            $(".toggleOnly6").click(function () {
                $(".toggleOnly6").removeClass("active");
                $(this).addClass("active");
            });

            $("#sign-in-link").click(function () {
                $.ajax({
                    url: '@Href("~/Account/JsonLogout")',
                    method: 'POST',
                    async:false,
                    success: function (result) {
                        //window.location.reload();
                    }
                });
                setTimeout('$(".page").hide();$("#sign-in-page").fadeIn(800);$("#backbuttona").show();', 2);
                return false;
            });
        });
    </script>
    @*    <script>
        // Wait until the document is ready.
        $(function () {
            // Run noUiSlider
            $('.noUiSlider').noUiSlider({
                range: [0, 100]
                , start: [50]
                , step: 1
                , handles: 1
                , serialization: {
                    resolution: 1,
                    to: [$("#noUiSlider-rangeamount"), 'html']
                }
            });
        });
    </script>*@
    <script>
        var height = $(window).height();
        var submitted = false;
        var submittedFinal = false;

        function submitExperience(final) {
            if (submitted && !final)
                return false;
            if (submittedFinal && final)
                return false;
            if (!final)
                submitted = true;
            else
                submittedFinal = true;

            var error = false;
            var q1 = $("#q1").val();

            var q2a = $("#q2a").val();

            var q3a = $("#q3a").val();
            var q3 = "";
            $.each($("#q3").children(), function (k, v) {
                if ($($(v).children()[0]).hasClass("active")) {
                    q3 += $(v).text() + ",";
                }
            });
            q3 = q3.substring(0, q3.length - 1);

            var q4a = $("#q4a").val();
            var q4 = "";
            $.each($("#q4").children(), function (k, v) {
                if ($($(v).children()[0]).hasClass("active")) {
                    q4 += $(v).text() + ",";
                }
            });
            q4 = q4.substring(0, q4.length - 1);

            var q5a = $("#q5a").val();
            var q5 = "";
            $.each($("#q5").children(), function (k, v) {
                if ($($(v).children()[0]).hasClass("active")) {
                    q5 += $(v).text() + ",";
                }
            });
            q5 = q5.substring(0, q5.length - 1);
            var q6 = "";
            var locationId = $("#locationId").val();
            $.each($(".toggleOnly6"), function (k, v) {
                if ($(v).hasClass("active")) {
                    q6 = $(v).attr("name");
                }
            });
            console.log("submitted : " + submitted);
            $.ajax({
                type: "POST",
                url: "@Href("~/Home/")" + (final ? "SubmitSecond" : "Submit"),
                data: "q1=" + parseInt(getOverallScore()) * 10 + "&q2a=" + q2a + "&q3a=" + q3a + "&q3=" + q3 + "&q4a=" + q4a + "&q4=" + q4 + "&q5a=" + q5a + "&q5=" + q5 + "&q6=" + q6 + "&locationId=" + locationId + "&image=" + $("#image").val() + "&givenname=" + $("#givenname").val() + "&surname=" + $("#surname").val() + "&email=" + $("#email").val() + "&imageDescription=" + $("#imageDescription").val() + "&answerPackageId=" + $("#answerPackageId").val() + "&contactnumber=" + $("#contactnumber").val() + "&image2=" + $("#image2").val() + "&imageDescription2=" + $("#imageDescription2").val() + "&image3=" + $("#image3").val() + "&imageDescription3=" + $("#imageDescription3").val() + "&country=" + $("#countryCode").val(),
                success: function (result) {
                    if (final) {                       
                        setTimeout('$(".page").hide();$("#thankyou-page").fadeIn(800);$("#sign-in-link").hide();', 500);
                       
                    }
                    else {
                        $("#answerPackageId").val(result.id);
                        setTimeout('$(".page").hide();$("#post-survey-questionnaire").fadeIn(800);$("#sign-in-link").hide();setTimeout("pageTopLinkClick()", 900);', 500);

                    }
                }
            });


            //var q3 = $("#q3").val();
        }

       // function modifyfooter() {
            //var footer = $("#footer");
            //var page = $('#page-wrapper');
            //var push = $('.push');
            //var pos = footer.position();
           
            //height = height - pos.top;
            //height = height - footer.height() - 50;
            //if (height > 0) {
            //    footer.css({
            //        // 'margin-top': height + 'px'
            //        'height': '114px'
            //    });
            //    page.css({
            //        'min-height': '100%',
            //        'height': 'auto !important',
            //        'height': '100%',
            //        'margin': '0 auto -114px'
            //    });
            //    push.css({
            //        'height': '114px'
            //    });
            //}

        //}

        function pageTopLinkClick() {
            window.location = document.getElementById('pageTopLink').href;
        }
    </script>
    <script>
        var modelPresent = "@(Model == null ? "false" : "true")";
        function validateEmail(email) {
            var re = /\S+@@\S+\.\S+/;
            return re.test(email);
        }
        $(function () {
            $(".page").hide();
            $("#emailerror").hide();
            $("#contactnumbererror").hide();
            if (modelPresent == "true") {
                $("#survey-question-page").show();
            } else {
                $("#sign-in-page").show();
            }
            //setTimeout('$("#flip-toggle").height($("#frontdiv").height());', 500);

            $("#page1complete").click(function () {
                if (uploadProgress || uploadProgress2 || uploadProgress3) {
                    //alert("Please wait till image finishes uploading");
                    $('#myModal').foundation('reveal', 'open');
                    return false;
                }
                submitExperience(false);
            });
            $("#page2complete").click(function () {

                $(".page2Input").removeClass("input-error");
                var givenName = $("#givenname").val();
                var surName = $("#surname").val();
                var email = $("#email").val();
                var contactnumber = $("#contactnumber").val();
                var error = false;
                if (email == null || email.trim() == '' || !validateEmail(email)) {
                    //$("#emailerror").show();
                    $("#email").addClass("input-error");
                    error = true;
                }
                if (givenName == null || givenName.trim() == '') {
                    $("#givenname").addClass("input-error");
                    error = true;


                }
                if (contactnumber == null || contactnumber.trim() == '') {
                    $("#contactnumber").addClass("input-error");
                    error = true;
                }
                if (surName == null || surName.trim() == '') {
                    $("#surname").addClass("input-error");
                    error = true;

                }
                if (error)
                    return false;
                submitExperience(true);
            });
            $("#page2Disagree").click(function () {
                setTimeout('$(".page").hide();$("#thankyou-page").fadeIn(800);$("#sign-in-link").hide();', 500);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('textarea').autosize();
            $("#submitLogin").click(function () {
                var username = $("#username").val();
                var password = $("#password").val();
                if (username.trim() == "" || password == "") {
                    $(".signininput").addClass("input-error");
                    return false;
                }
                $.ajax({
                    url: '@Href("~/account/JsonLogin")',
                    method: 'POST',
                    data: 'username=' + username + "&password=" + password,
                    success: function (result) {
                        if (result.success) {
                            window.location = '@Href("~/home/dashboardi")';
                        } else {
                            $(".signininput").addClass("input-error");
                        }
                    }
                });
            });

        });
    </script>
</body>
</html>
