﻿@{
    Layout = "";
}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CusJo| Login</title>
    <link rel="stylesheet" href="@Href("~/Content/foundation.css")" />
    <link rel="stylesheet" href="@Href("~/Content/styles.css")" />
     <script type="text/javascript" src="//use.typekit.net/glo0ptu.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
</head>
<body>
    <div id="sign-in" class="page">
        <div class="row survey-sections">
            <div class="small-12 columns text-center">
                 <img src="@Href("~/Content/img/CusJo-Logo.png")" style="height: 6rem; padding-top:1rem" />
            </div>
        </div>
        <div class="row survey-sections">
            <div class="small-12 columns">
                <div class="question-label">
                    <h3>Username</h3>
                </div>
                <div class="question-editor clearfix">
                    <input type="text" />
                </div>

            </div>
        </div>
        <div class="row survey-sections">
            <div class="small-12 columns">
                <div class="question-label">
                    <h3>Password</h3>
                </div>
                <div class="question-editor clearfix">
                    <input type="password" />
                </div>
               @* <p>
                    <a class="regular-font" href="#" style="padding-top: 1rem; display: block">Forgot your password</a>
                </p>*@

            </div>
            <div class="borderbottom">
                <div class="small-12 columns exp-questions text-center">
                    <div class="large-font rounded-corner submit-button">Log In</div>
                </div>

            </div>
            <div class="clearfix"></div>


        </div>
        @*<div class="row survey-sections footer">
            <div class="small-12 columns">
                <span class="footer-link small-font greycolor">www.CusJo.com</span>
                <span class="footer-link large-font right">CusJo</span>

            </div>
        </div>*@
    </div>

</body>
</html>
