﻿@{
    Layout = null;
}

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CusJo| Welcome</title>
    <script src="@Href("~/Scripts/jquery.js")"></script>
    <script src="@Href("~/Scripts/jquery.ui.widget.js")"></script>
    <script src="@Href("~/Scripts/jquery.iframe-transport.js")"></script>
    <script src="@Href("~/Scripts/jquery.fileupload.js")"></script>
    <link rel="stylesheet" href="@Href("~/Content/foundation.css")" />
    <link rel="stylesheet" href="@Href("~/Content/styles.css")" />
    <link rel="stylesheet" href="@Href("~/Content/jquery.nouislider.css")" />
    <script src="@Href("~/Scripts/modernizr.js")"></script>
    <script src="@Href("~/Scripts/jquery.flippy.min.js")"></script>

</head>
<body>
     <div class="row survey-sections" >
        <div class="small-12 columns text-center title border-bottom">
            CusJo
           
            <img src="@Href("~/Content/img/gear-icon.png")" class="gear-icon right"/>
        </div>
    </div>
    <div class="row">
         <div class="small-12 columns text-center">
              <span class="title">Sign Up</span>
             </div>
    </div>
    <div class="row survey-sections" >
      <div class="small-12 columns text-center">
      
      <p class="greycolor small-font">Please fill in your real details. <br /><br />
          You will need them to authenticate your appreciation</p>
      </div>
    </div>


      <div class="row survey-sections footer" >
        <div class="small-12 columns">
            <span class="footer-link small-font greyfont">www.CusJo.com</span>
            <span class="footer-link medium-font right">CusJo</span>
            
        </div>
    </div>

    </body>
    </html>