﻿@using cusxp.Models
@model List<AnswerPackage>
@{
    ViewBag.Title = "Responses";
    Layout = "";
}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <script type="text/javascript" src="//use.typekit.net/glo0ptu.js"></script>
<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    <script src="@Href("~/Scripts/jquery.js")"></script>
    <script src="@Href("~/Scripts/jquery.ui.widget.js")"></script>
    <script src="@Href("~/Scripts/jquery.iframe-transport.js")"></script>
    <script src="@Href("~/Scripts/jquery.fileupload.js")"></script>
    <link rel="stylesheet" href="@Href("~/Content/foundation.css")" />
    <link rel="stylesheet" href="@Href("~/Content/styles.css")" />
    <link rel="stylesheet" href="@Href("~/Content/jquery.nouislider.css")" />
    <script src="@Href("~/Scripts/modernizr.js")"></script>

</head>
<body>
    <h2>Responses</h2>
    @{ var counter = 1;}
    <div>
        @foreach (var answerPackage in Model)
        {
            <div>
                <h3>@counter</h3><span><i>By @answerPackage.GivenName @answerPackage.SurName (@answerPackage.Email)</i> on @answerPackage.DateCreated.ToString("dd/MM/yyyy HH:mm:ss")</span> 
                <div>
                    <table>
                        <thead>
                            <th>Question
                            </th>
                            <th>Score
                            </th>
                            <th>Comment
                            </th>
                        </thead>
                        <tbody>
                            @foreach (var answer in answerPackage.Answers)
                            {
                                <tr>
                                    <td>
                                        @answer.Question.Description
                                    </td>
                                    <td>
                                        @answer.Score
                                    </td>
                                    <td>
                                        @answer.Comments
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                @if (answerPackage.Image != null)
                {
                    <img src="@answerPackage.Image" />
                }
            </div>
            counter++;
        }
    </div>
    <div style="margin-top: 200px"></div>

    <script src="@Href("~/Scripts/foundation.min.js")"></script>
</body>
</html>
