﻿@{
    Layout = null;
    string returnUrl = Request["returnUrl"];
}


<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />

    <title>CusJo| Welcome</title>
    <link rel="stylesheet" href="@Href("~/Content/foundation.css")" />
    <link rel="stylesheet" href="@Href("~/Content/styles.css")" />
    <link rel="stylesheet" href="@Href("~/Content/jquery.nouislider.css")" />
    <link rel="stylesheet" href="@Href("~/Content/jquery.fileupload.css")" />
    <script type="text/javascript" src="//use.typekit.net/glo0ptu.js"> </script>
    <script type="text/javascript"> try {
     Typekit.load();
 } catch (e) {
 } </script>


    <meta name="viewport" content="width=device-width,user-scalable=no" />

     <script type="text/javascript">
         var ua = navigator.userAgent.toLowerCase();
         var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
         if (isAndroid) {
             var meta = document.createElement('meta');
             meta.name = "viewport";
             meta.content = "width=640, target-densitydpi = device-dpi, user-scalable=0";
             document.getElementsByTagName('head')[0].appendChild(meta);
             // Do something!
             // Redirect to Android-site?
         }


        </script>
    

</head>
<body>
    <div class="mobile-container clearfix">
        <div class="row survey-sections cusjo-header">
            <div class="small-12 columns text-center title">
                <a href="#">
                    <img src="@Href("~/Content/img/back-icon.png")" class="back-icon left" onclick="window.location='@returnUrl'"/></a>
                <a href="@returnUrl">Share Your Experience
                </a>
                @* <a href="@Href("~/")">

                        <img id="sign-in-link" src="@Href("~/Content/img/gear-icon.png")" class="gear-icon right"/>
                    </a>*@
            </div>
        </div>



        <div class="row survey-sections">
            <div class="small-12 columns text-center">
                <h1>Terms & Conditions</h1>
            </div>
        </div>
        <div class="row survey-sections">
            <div class="small-12 columns ">
                <div class="tnc-content">
                    <p><span class="number">1.</span>This Complimentary Singapore Dollars $100/- Voucher is only valid at DifferWorld Pte Ltd.</p>
                    <p><span class="number">2.</span>This Voucher is given to pre-selected individuals and organization upon till full and accurate completion of a DifferWorld "Share Your Experience" Form.</p>
                    <p><span class="number">3.</span>This voucher is non-transferable, cannot be sold or resold and cannot be redeemed for cash or other equivalents.</p>
                    <p><span class="number">4.</span>This voucher can only be used for one DifferWorld initiative that exceeds Singapore Dollars $900/- on a single invoice.</p>
                    <p><span class="number">5.</span>This voucher is for one-time use only, its use need to be indicated to and approved by DifferWorld Pte Ltd before any initiative agreement is drawn up.</p>
                    <p><span class="number">6.</span>This voucher cannot be used in conjunction with any other vouchers, offers, discounts, promotions, privileges,etc...</p>
                    <p><span class="number">7.</span>DifferWorld reserves the right to modify the above Terms & Conditions, reject and discontinues this offer at anytime, without any prior notice.</p>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row survey-sections footer">
            <div class="small-6 columns">
                <a href="http://www.cusjo.com" target="_blank">
                    <img src="@Href("~/Content/img/CusJo-Logo.png")" class="footer-logo-img left"/>
                </a>
            </div>
            <div class="small-6 columns">
                @*<span class="footer-link large-font">CusJo</span>*@
                <a href="http://www.cusjo.com" target="_blank" class="right">
                    <span style="display: block" class="footer-link small-font greycolor">www.CusJo.com</span> </a>
                <span style="display: block; left; padding-top: 10px;" class="little-font 50grey right">&#169; 2014 CusJo - All Rights Reserved

                </span>

            </div>

            <div class="small-12 columns text-center">
            </div>

        </div>
    </div>
    <script src="@Href("~/Scripts/jquery.js")"> </script>
    <script src="@Href("~/Scripts/foundation.min.js")"> </script>
    <script src="@Href("~/Scripts/modernizr.js")"> </script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
